@{
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}
@model List<List<Bus.Data.Address>>

<style>
    .table-list {
        float: left;
        width: 200px;
        margin: 20px;
    }

    .table-list div:first-of-type {
        float: left;
    }

    .table-list div:last-of-type {
        float: right;
    }

    .table-list table {
        width: 200px;
    }

    .sortID {
        text-align: center;
        padding: 0;
        width: 18px;
        height: 16px;
    }
</style>

<script>
    function chooseAddress(id, level) {
        if (level == 1) {
            $("#Address1ID").val(id);
            $("#Address2ID").val("");
            $("#Address3ID").val("");
        } else if (level == 2) {
            $("#Address2ID").val(id);
            $("#Address3ID").val("");
        } else if (level == 3) {
            $("#Address3ID").val(id);
        }

        window.location.href = "AddressManager?Address1ID=" + $("#Address1ID").val()
                                        + "&Address2ID=" + $("#Address2ID").val()
                                        + "&Address3ID=" + $("#Address3ID").val();
    }

    function saveSort(level) {
        var ID = document.getElementsByName("ID" + level);
        var SortID = document.getElementsByName("SortID" + level);
        var IDs = "";
        var SortIDs = "";

        for (var i = 0; i < ID.length; i++) {
            if (SortID[i].value == "") {
                alert("请填写排序号！");

                return;
            }

            IDs = IDs + ID[i].value + ",";
            SortIDs = SortIDs + SortID[i].value + ",";
        }

        $.ajax({
            url: '/Admin/saveSort',
            type: 'get',
            data: { IDs: IDs, SortIDs: SortIDs },
            dataType: 'json',
            error: function () {
                alert("发生系统错误，保存不成功。");
            },
            success: function (result) {
                if (result.success == true) {
                    window.location.href = window.location.href;
                } else {
                    alert(result.success);
                }
            }
        });
    }

    function addAddress(level) {
        var ParentID = $("#Address" + String(parseInt(level) - 1) + "ID").val();

        if (level != 1 && ParentID == "0") {
            alert("请选择父节点！");

            return;
        }

        var tbl = document.getElementById("address" + level);
        var tblLength = 0;

        if (level == "1") {
            tblLength = parseInt("@Model.ElementAt(0).Count");
        } else if (level == "2") {
            tblLength = parseInt("@Model.ElementAt(1).Count");
        } else if (level == "3") {
            tblLength = parseInt("@Model.ElementAt(2).Count");
        } else if (level == "4") {
            tblLength = parseInt("@Model.ElementAt(3).Count");
        }

        if (tblLength + 1 == tbl.rows.length) {
            var row = tbl.insertRow(tbl.rows.length);
            var cell = row.insertCell(row.cells.length);

            cell.innerHTML = "<input type='text' name='AddSortID" + level + "' id='AddSortID" + level + "' class='sortID' value='' />";

            cell = row.insertCell(row.cells.length);
            cell.innerHTML = "<input type='text' name='AddName" + level + "' id='AddName" + level + "' style='width: 75px;' value='' />";

            cell = row.insertCell(row.cells.length);
            cell.setAttribute("align", "center");
            cell.setAttribute("style", "padding-top: 5px; padding-bottom: 5px;");
            cell.innerHTML = "<a href='javascript: saveAddress(\"" + level + "\", 0);'>保存</a> | <a href='javascript: cancelAdd(\"" + level + "\");'>取消</a>";
        }
    }

    function modifyAddress(level, ID, AddName, SortID) {
        var tbl = document.getElementById("address" + level);
        var tr = document.getElementById("tr" + ID);

        tr.setAttribute("style", "display: none");

        var row = tbl.insertRow(tr.rowIndex);
        var cell = row.insertCell(row.cells.length);

        cell.innerHTML = "<input type='text' name='AddSortID" + level + "' id='AddSortID" + level + "' class='sortID' value='" + SortID + "' />";

        cell = row.insertCell(row.cells.length);
        cell.innerHTML = "<input type='text' name='AddName" + level + "' id='AddName" + level + "' style='width: 75px;' value='" + AddName + "' />";

        cell = row.insertCell(row.cells.length);
        cell.setAttribute("align", "center");
        cell.setAttribute("style", "padding-top: 5px; padding-bottom: 5px;");
        cell.innerHTML = "<a href='javascript: saveAddress(\"" + level + "\", " + ID + ");'>保存</a> | <a href='javascript: cancelModify(\"" + level + "\", " + ID + ");'>取消</a>";
    }

    function delAddress(action, ID, AddName) {
        if (confirm("\"" + AddName + "\"为父节点字段，删除的同时会删除子节点字段，你确定要删除该数据吗？")) {
            $.ajax({
                url: '/Admin/DelData?act=' + action,
                type: 'get',
                data: { dataID: ID },
                dataType: 'json',
                error: function () {
                    alert("发生系统错误，删除不成功。");
                },
                success: function (result) {
                    if (result.success == true) {
                        window.location.href = window.location.href;
                    } else {
                        alert(result.success);
                    }
                }
            });
        }
    }

    function saveAddress(level, ID) {
        var SortID = $("#AddSortID" + level).val();
        var AddName = $("#AddName" + level).val();
        var ParentID = $("#Address" + String(parseInt(level) - 1) + "ID").val();

        if (SortID == "") {
            alert("请填写排序号！");
        } else if (AddName == "") {
            alert("请填写字段名！");
        } else {
            $.ajax({
                url: '/Admin/AddOrModifyAddress',
                type: 'get',
                data: { AddName: AddName, ID: ID, ParentID: parseInt(ParentID), AddLevel: parseInt(level), SortID: parseInt(SortID) },
                dataType: 'json',
                error: function () {
                    alert("发生系统错误，保存不成功。");
                },
                success: function (result) {
                    if (result.success == true) {
                        window.location.href = window.location.href;
                    } else {
                        alert(result.success);
                    }
                }
            });
        }
    }

    function cancelAdd(level) {
        var tbl = document.getElementById("address" + level);

        tbl.deleteRow(tbl.rows.length - 1);
    }

    function cancelModify(level, ID) {
        var tbl = document.getElementById("address" + level);
        var tr = document.getElementById("tr" + ID);

        tbl.deleteRow(tr.rowIndex - 1);
        tr.removeAttribute("style");
    }
</script>

@{var Address1ID = TheCMS.Common.iRequest.GetQueryInt("Address1ID");}
@{var Address2ID = TheCMS.Common.iRequest.GetQueryInt("Address2ID");}
@{var Address3ID = TheCMS.Common.iRequest.GetQueryInt("Address3ID");}
<input type="hidden" name="Address0ID" id="Address0ID" value="0" />
<input type="hidden" name="Address1ID" id="Address1ID" value="@(Address1ID)" />
<input type="hidden" name="Address2ID" id="Address2ID" value="@(Address2ID)" />
<input type="hidden" name="Address3ID" id="Address3ID" value="@(Address3ID)" />
<div style="width: 1000px; margin: auto;">
    <form name="address1Form" id="address1Form" action="@(Request.Url)" method="post">
    <div class="table-list">
        <h5>第一字段</h5>
        <div class="content-menu ib-a blue"><a class="on" href="javascript: saveSort('1');"><em>保存排序</em></a></div>
        <div class="content-menu ib-a blue"><a class="on" href="javascript: addAddress('1');"><em>添加</em></a></div>
        <table id="address1">
            <col width="36px" />
            <col width="*" />
            <col width="73px" />
            <thead>
                <tr>
                    <th>排序</th>
                    <th>字段</th>
                    <th>操作</th>
                </tr>
            </thead>
            @foreach (var item in Model.ElementAt(0))
            {
                if (item.ID == Address1ID)
                {
            <tr id="tr@(item.ID)" style="background: #fbffe4;">
                <td><input type="text" name="SortID1" value="@(item.SortID)" class="sortID" /></td>
                <td align="center" onclick="chooseAddress(@(item.ID), 1);">@(item.AddName)<input type="hidden" name="ID1" value="@(item.ID)" /></td>
                <td align="center"><a href="javascript: modifyAddress('1', '@(item.ID)', '@(item.AddName)', '@(item.SortID)');">修改</a> | <a href="javascript: delAddress('deladdress', '@(item.ID)', '@(item.AddName)')">删除</a></td>
            </tr>  
                }
                else
                {
            <tr id="tr@(item.ID)">
                <td><input type="text" name="SortID1" value="@(item.SortID)" class="sortID" /></td>
                <td align="center" onclick="chooseAddress(@(item.ID), 1);">@(item.AddName)<input type="hidden" name="ID1" value="@(item.ID)" /></td>
                <td align="center"><a href="javascript: modifyAddress('1', '@(item.ID)', '@(item.AddName)', '@(item.SortID)');">修改</a> | <a href="javascript: delAddress('deladdress', '@(item.ID)', '@(item.AddName)')">删除</a></td>
            </tr>
                }
            }
        </table>
    </div>
    </form>
    
    <form name="address2Form" id="address2Form" action="@(Request.Url)" method="post">
    <div class="table-list">
        <h5>第二字段</h5>
        <div class="content-menu ib-a blue"><a class="on" href="javascript: saveSort('2');"><em>保存排序</em></a></div>
        <div class="content-menu ib-a blue"><a class="on" href="javascript: addAddress('2');"><em>添加</em></a></div>
        <table id="address2">
            <col width="36px" />
            <col width="*" />
            <col width="73px" />
            <thead>
                <tr>
                    <th>排序</th>
                    <th>字段</th>
                    <th>操作</th>
                </tr>
            </thead>
            @foreach (var item in Model.ElementAt(1))
            {
                if (item.ID == Address2ID)
                {
            <tr id="tr@(item.ID)" style="background: #fbffe4;">
                <td><input type="text" name="SortID2" value="@(item.SortID)" class="sortID" /></td>
                <td align="center" onclick="chooseAddress(@(item.ID), 2);">@(item.AddName)<input type="hidden" name="ID2" value="@(item.ID)" /></td>
                <td align="center"><a href="javascript: modifyAddress('2', '@(item.ID)', '@(item.AddName)', '@(item.SortID)');">修改</a> | <a href="javascript: delAddress('deladdress', '@(item.ID)', '@(item.AddName)')">删除</a></td>
            </tr>  
                }
                else
                {
            <tr id="tr@(item.ID)">
                <td><input type="text" name="SortID2" value="@(item.SortID)" class="sortID" /></td>
                <td align="center" onclick="chooseAddress(@(item.ID), 2);">@(item.AddName)<input type="hidden" name="ID2" value="@(item.ID)" /></td>
                <td align="center"><a href="javascript: modifyAddress('2', '@(item.ID)', '@(item.AddName)', '@(item.SortID)');">修改</a> | <a href="javascript: delAddress('deladdress', '@(item.ID)', '@(item.AddName)')">删除</a></td>
            </tr>
                }                  
            }
        </table>
    </div>
    </form>
        
    <form name="address3Form" id="address3Form" action="@(Request.Url)" method="post">
    <div class="table-list">
        <h5>第三字段</h5>
        <div class="content-menu ib-a blue"><a class="on" href="javascript: saveSort('3');"><em>保存排序</em></a></div>
        <div class="content-menu ib-a blue"><a class="on" href="javascript: addAddress('3');"><em>添加</em></a></div>
        <table id="address3">
            <col width="36px" />
            <col width="*" />
            <col width="73px" />
            <thead>
                <tr>
                    <th>排序</th>
                    <th>字段</th>
                    <th>操作</th>
                </tr>
            </thead>
            @foreach (var item in Model.ElementAt(2))
            {
                if (item.ID == Address3ID)
                {
            <tr id="tr@(item.ID)" style="background: #fbffe4;">
                <td><input type="text" name="SortID3" value="@(item.SortID)" class="sortID" /></td>
                <td align="center" onclick="chooseAddress(@(item.ID), 3);">@(item.AddName)<input type="hidden" name="ID3" value="@(item.ID)" /></td>
                <td align="center"><a href="javascript: modifyAddress('3', '@(item.ID)', '@(item.AddName)', '@(item.SortID)');">修改</a> | <a href="javascript: delAddress('deladdress', '@(item.ID)', '@(item.AddName)')">删除</a></td>
            </tr>  
                }
                else
                {
            <tr id="tr@(item.ID)">
                <td><input type="text" name="SortID3" value="@(item.SortID)" class="sortID" /></td>
                <td align="center" onclick="chooseAddress(@(item.ID), 3);">@(item.AddName)<input type="hidden" name="ID3" value="@(item.ID)" /></td>
                <td align="center"><a href="javascript: modifyAddress('3', '@(item.ID)', '@(item.AddName)', '@(item.SortID)');">修改</a> | <a href="javascript: delAddress('deladdress', '@(item.ID)', '@(item.AddName)')">删除</a></td>
            </tr>
                }                    
            }
        </table>
    </div>
    </form>
        
    <form name="address4Form" id="address4Form" action="@(Request.Url)" method="post">
    <div class="table-list">
        <h5>第四字段</h5>
        <div class="content-menu ib-a blue"><a class="on" href="javascript: saveSort('4');"><em>保存排序</em></a></div>
        <div class="content-menu ib-a blue"><a class="on" href="javascript: addAddress('4');"><em>添加</em></a></div>
        <table id="address4">
            <col width="36px" />
            <col width="*" />
            <col width="73px" />
            <thead>
                <tr>
                    <th>排序</th>
                    <th>字段</th>
                    <th>操作</th>
                </tr>
            </thead>
            @foreach (var item in Model.ElementAt(3))
            {
            <tr id="tr@(item.ID)">
                <td><input type="text" name="SortID4" value="@(item.SortID)" class="sortID" /></td>
                <td align="center">@(item.AddName)<input type="hidden" name="ID4" value="@(item.ID)" /></td>
                <td align="center"><a href="javascript: modifyAddress('4', '@(item.ID)', '@(item.AddName)', '@(item.SortID)');">修改</a> | <a href="javascript: DelData('deladdress', '@(item.ID)')">删除</a></td>
            </tr>                    
            }
        </table>
    </div>
    </form>
</div>
</form>