@{
    ViewBag.Title = "BusAdd";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}
@using System.Globalization
@model Bus.Data.BusView
@section HeadScript{
    <script language="javascript" type="text/javascript" src="/Content/admin/js/formvalidator.js" charset="UTF-8"></script>
    <script language="javascript" type="text/javascript" src="/Content/admin/js/formvalidatorregex.js" charset="UTF-8"></script>
    <script language="javascript" type="text/javascript" src="/Content/admin/js/input_validator.js" charset="UTF-8"></script>
    <script type="text/javascript" src="/Content/layer/layer.min.js?v=1.6.0"></script>

    <!-- 日历控件 -->
<script src="/Content/admin/js/calendar/jquery.jdpicker.js" type="text/javascript"></script>
<link type="text/css" href="/Content/admin/js/calendar/jdpicker.css" rel="stylesheet"></link>
<link type="text/css" href="/Content/admin/js/calendar/style.css" rel="stylesheet"></link>

    <script type="text/javascript">

        function doSubmit() {
            if (!checkInput()) {
                return;
            }
            $.ajax({
                type: "POST",
                dataType: "json",
                url: '@(Request.Url)',
            data: $('#myform').serialize(),// 你的formid
            async: false,
            error: function (request) {
                alert("Connection error");
            },
            success: function (data) {
                if (data.success) {
                    alert("添加成功");
                    //刷新
                    parent.window[0].location.reload();
                    closeMe();
                }
                else {
                    alert("系统异常，操作不成功。");
                }
            }
        });
    }

        function closeMe() {
            //获取当前窗口索引
            var index = parent.layer.getFrameIndex(window.name);
            parent.layer.close(index);
        }

        function Cancel() {
            closeMe();
        }

        function SelectDriverName(id) {
            var DriverName = document.getElementById(id);
            var Phone = document.getElementById("Phone");
            var DriverID = document.getElementById("DriverID");
            var value2 = $("#DriverName").find("option:selected").prop("value2");
            Phone.value = DriverName.value;
            DriverID.value = value2;
        }

        
    </script>
}


<style type="text/css">
    html {
        _overflow-y: scroll;
    }
</style>



<form name="myform" id="myform" action="@(Request.Url)" method="post" style="width:500px">
    <div class="common-form">
        @{var dList = Bus.Data.DriverDB.DriverList();}
        <table width="100%" class="table_form contentWrap">
            <tbody>
                <tr>
                    <th><span style="color:red;">*</span>车牌照号：</th>
                    <td>
                        <input type="text" name="BusNo" value="@(Model != null ? Model.BusNo : "")" id="BusNo" class="input-text" style="width:100px" required /></td>
                </tr>
                <tr>
                    <th><span style="color:red;">*</span>车型：</th>
                    <td>
                        <input type="text" name="MotoType" value="@(Model != null ? Model.MotoType : "")" id="MotoType" class="input-text" style="width:100px" required /></td>
                </tr>
                <tr>
                    <th><span style="color:red;">*</span>座位数：</th>
                    <td>
                        <input type="text" name="SeatCnt" value="@(Model != null ? Model.SeatCnt.ToString() : "")" id="SeatCnt" class="input-text" style="width:100px" required /></td>
                </tr>
                <tr>
                    <th><span style="color:red;">*</span>司机姓名：</th>
                    <td>
                        <select id="DriverName" name="DriverName" onchange="SelectDriverName(this.id)" required>
                            <option value="0">请选择</option>
                            @foreach (var item in dList)
                            {
                                <option value="@(item.Phone)" value2="@(item.ID)">@(item.DriverName)</option>
                            }
                        </select>
                        <input type="hidden" id="DriverID" name="DriverID" value ="" />
                        </td>
                </tr>
                <tr>
                    <th><span style="color:red;">*</span>联系电话：</th>
                    <td>
                        <input type="text" name="Phone" value="@(Model != null ? Model.Phone : "")" id="Phone" style="width:100px;" disabled="disabled" tabindex="-1" /></td>
                </tr>
                <tr>
                    <th><span style="color:red;">*</span>所属公司：</th>
                    <td>
                        <input type="text" name="Corp" value="@(Model != null ? Model.Corp : "")" id="Corp" class="input-text" style="width:100px" required /></td>
                </tr>
                <tr>
                    <th><span style="color:red;">*</span>保险到期：</th>
                    <td>
                        <input type="text" name="InsuEndDate" value="@(Model != null ? Model.InsuEndDate.ToString("yyyy.MM.dd") : "")" id="InsuEndDate" class="input-text" style="width:100px" required /></td>
                </tr>
                <tr>
                    <th><span style="color:red;">*</span>购车年月：</th>
                    <td>
                        <input type="text" name="BuyDate" value="@(Model != null ? Model.BuyDate.ToString("yyyy.MM.dd") : "")" id="BuyDate" class="input-text" style="width:100px" required /></td>
                </tr>
                <tr>
                    <th><span style="color:red;">*</span>车主：</th>
                    <td>
                        <input type="text" name="OwnerName" value="@(Model != null ? Model.OwnerName : "")" id="OwnerName" class="input-text" style="width:160px" required /></td>
                </tr>
                <tr>
                    <th><span style="color:red;">*</span>车主联系方式：</th>
                    <td>
                        <input type="text" name="OwnerPhone" value="@(Model != null ? Model.OwnerPhone : "")" id="OwnerPhone" class="input-text" style="width:160px" required /></td>
                </tr>
                <tr>
                    <th>备注1：</th>
                    <td>
                        <input type="text" name="Etc1" value="@(Model != null ? Model.Etc1 : "")" id="Etc1" class="input-text" style="width:160px" /></td>
                </tr>
                <tr>
                    <th>备注2：</th>
                    <td>
                        <input type="text" name="Etc2" value="@(Model != null ? Model.Etc2 : "")" id="Etc2" class="input-text" style="width:160px" /></td>
                </tr>
                <tr>
                    <th>备注3：</th>
                    <td>
                        <input type="text" name="Etc3" value="@(Model != null ? Model.Etc3 : "")" id="Etc3" class="input-text" style="width:160px" /></td>
                </tr>
            </tbody>
        </table>
        <!--table_form_off-->

    </div>
    <div class="bk15"></div>
    <div class="content-menu ib-a blue" style="text-align: center">
        <a href='javascript:doSubmit();' class="on"><em>添加</em></a>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a class="on"  onclick="Cancel()"><em>取消</em></a>
    </div>

        <script type="text/javascript">
            $('#InsuEndDate').jdPicker();
            $('#BuyDate').jdPicker();
            </script>
</form>
