@{
    ViewBag.Title = "BusLineUpdate";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}
@using System.Globalization
@model Bus.Data.BusLineView
@section HeadScript{
    <script language="javascript" type="text/javascript" src="/Content/admin/js/formvalidator.js" charset="UTF-8"></script>
    <script language="javascript" type="text/javascript" src="/Content/admin/js/formvalidatorregex.js" charset="UTF-8"></script>
    <script language="javascript" type="text/javascript" src="/Content/admin/js/input_validator.js" charset="UTF-8"></script>
    <script type="text/javascript" src="/Content/My97DatePicker/WdatePicker.js"></script> 
    <script type="text/javascript" src="/Content/layer/layer.min.js?v=1.6.0"></script>
    <script type="text/javascript">

        function doSubmit() {
            if (!checkInput()) {
                return;
            }
            $.ajax({
                type: "POST",
                dataType: "json",
                url: '@(Request.Url)',
                data: $('#myform').serialize(),// 你的formid
                async: false,
                error: function (request) {
                    alert("Connection error");
                },
                success: function (data) {
                    if (data.success) {
                        alert("修改成功");
                        //刷新
                        parent.window[0].location.reload();
                        closeMe();
                    }
                    else {
                        alert("系统异常，操作不成功。");
                    }
                }
            });
        }
        
        function closeMe() {
            //获取当前窗口索引
            var index = parent.layer.getFrameIndex(window.name);
            parent.layer.close(index);
        }

        function Cancel() {
            closeMe();
        }
    </script>
}


<style type="text/css">
    html {
        _overflow-y: scroll;
    }
</style>



<form name="myform" id="myform" action="@(Request.Url)" method="post" style="width:620px">
    <div class="common-form">
        @{var Buslist = Bus.Data.BusDB.BusList();}
        <table width="100%" class="table_form contentWrap">
                <tr>
                    <th><span style="color:red;">*</span>线路名称：</th>
                    <td colspan="3">
                        <input type="text" name="LineName" value="@(Model != null ? Model.LineName : "")" id="LineName" class="input-text" style="width:100px" required /></td>
                </tr>
                <tr>
                    <th><span style="color:red;">*</span>早班车辆：</th>
                    <td>
                        <select id="StartBusNo" name="StartBusNo" required>
                            <option value=""></option>
                            @foreach (var StartBus in Buslist)
                            {
                                if (StartBus.DelFlag == "N") { 
                                    <option value="@(StartBus.ID)"   @(Model != null ? StartBus.ID == Model.StartBusID ? " selected" : "" : "")>@(StartBus.BusNo)</option>
                                }
                            }
                        </select>
                    </td>
                    <th><span style="color:red;">*</span>早班时间：</th>
                    <td>
                        <input type="text" name="StartTime" value="@(Model != null ? Model.StartTime.ToString("HH:mm") : "")" id="StartTime" style="width:100px" onclick="WdatePicker({ dateFmt: 'HH:mm' });" required />
                    </td>
                </tr>
                <tr>
                    <th><span style="color:red;">*</span>晚班车辆：</th>
                    <td>
                        <select id="EndBusNo" name="EndBusNo" required>
                            <option value=""></option>
                            @foreach (var EndBus in Buslist)
                            {
                                if (EndBus.DelFlag == "N") { 
                                    <option value="@(EndBus.ID)"   @(Model != null ? EndBus.ID == Model.EndBusID ? " selected" : "" : "")>@(EndBus.BusNo)</option>
                                }
                            }
                        </select>
                    </td>
                    <th><span style="color:red;">*</span>晚班时间：</th>
                    <td>
                        <input type="text" name="EndTime" value="@(Model != null ? Model.EndTime.ToString("HH:mm") : "")" id="EndTime" class="input-text" style="width:100px" onclick="WdatePicker({ dateFmt: 'HH:mm' });" required />
                    </td>
                </tr>
                <tr>
                    <th><span style="color:red;">*</span>起点：</th>
                    <td colspan="3">
                        <input type="text" name="StartAddress" value="@(Model != null ? Model.StartAddress : "")" id="StartAddress" class="input-text" style="width:100px" required /></td>
                </tr>
                <tr>
                    <th><span style="color:red;">*</span>终点：</th>
                    <td colspan="3">
                        <input type="text" name="EndAddress" value="@(Model != null ? Model.EndAddress : "")" id="EndAddress" class="input-text" style="width:100px" required /></td>
                </tr>
                <tr>
                    <th><span style="color:red;">*</span>早单价格：</th>
                    <td>
                        <input onkeyup="this.value=this.value.replace(/\D/g,'')" type="text" name="PriceMon" value="@(Model != null ? Model.PriceMon.ToString().Length>0 ? Model.PriceMon.ToString().Remove(Model.PriceMon.ToString().IndexOf(".")) : "" : "")" id="PriceMon" class="input-text" style="width:100px" required /></td>
                    <th><span style="color:red;">*</span>晚单价格：</th>
                    <td>
                        <input onkeyup="this.value=this.value.replace(/\D/g,'')" type="text" name="PriceNgt" value="@(Model != null ? Model.PriceNgt.ToString().Length>0 ? Model.PriceNgt.ToString().Remove(Model.PriceNgt.ToString().IndexOf(".")) : "" : "")" id="PriceNgt" class="input-text" style="width:100px" required /></td>
                </tr>
                <tr>
                    <th><span style="color:red;">*</span>往返价格：</th>
                    <td colspan="3">
                        <input onkeyup="this.value=this.value.replace(/\D/g,'')" type="text" name="Price" value="@(Model != null ? Model.Price.ToString().Length>0 ? Model.Price.ToString().Remove(Model.Price.ToString().IndexOf(".")) : "" : "")" id="Price" class="input-text" style="width:100px" required /></td>
                </tr>
                <tr>
                    <th><span style="color:red;">*</span>线路状态：</th>
                    <td>
                        <select id="TypeID" name="TypeID" required >
                    <option value="" @(Model != null ? Model.TypeID.ToString()==""?" selected":"":"")>请选择</option>
                    <option value="1" @(Model != null ? Model.TypeID.ToString()=="1"?" selected":"":"")>已开通</option>
                    <option value="2" @(Model != null ? Model.TypeID.ToString()=="2"?" selected":"":"")>筹备中</option>
                   </select></td>
                </tr>
                <tr>
                    <th>备注：</th>
                    <td colspan="3">
                        <input type="text" name="Etc" value="@(Model != null ? Model.Etc : "")" id="Etc" class="input-text" style="width:430px" /></td>
                </tr>
        </table>
        <!--table_form_off-->

    </div>
    <div class="bk15"></div>
    
    <div class="content-menu ib-a blue" style="text-align: center">
        <a href='javascript:doSubmit();' class="on"><em>修改</em></a>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a class="on"  onclick="Cancel()"><em>取消</em></a>
    </div>
    
</form>
