@{
    ViewBag.Title = "BusLine";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}
@using System.Globalization
@model Bus.Data.BusLineView
@section HeadScript{
    <script language="javascript" type="text/javascript" src="/Content/admin/js/formvalidator.js" charset="UTF-8"></script>
    <script language="javascript" type="text/javascript" src="/Content/admin/js/formvalidatorregex.js" charset="UTF-8"></script>    <script type="text/javascript" src="/Content/layer/layer.min.js?v=1.6.0"></script>    <script type="text/javascript">
        $(document).ready(function () {


            $.formValidator.initConfig({
                formID: "myform", mode: 'AutoTip',
                onError: function (msg, obj) {
                    layer.alert('错误啦！' + msg, 3, !1);
                },
                ajaxForm: {
                    type: 'POST',
                    dataType: 'json',
                    buttons: $("#dosubmit"),
                    url: "@(Request.Url)",
                    success: function (result) {
                        if (result.success) {
                            alert('添加成功');
                            /*
                            layer.alert('修改成功', function (index) {
                                layer.close(index);
                                parent.layer.close();
                                parent.location.href = "BusList";
                            }, '提示信息', function (index) {
                                layer.close(index);
                                window.location.href = "BusList";
                            });
                            */
                        }
                        else {
                            layer.alert('发生错误，操作不成功！', 3, !1);
                        }
                        return false;

                    }
                },
                submitAfterAjaxPrompt: '有数据正在异步验证，请稍等...'
            });
            $("#LineName").formValidator({ onShow: "请输入线路名称", onFocus: "请输入线路名称" }).inputValidator({ min: 1, onError: "请输入线路名称" });
            $("#StartBusNo").formValidator({ onShow: "请选择早班车辆", onFocus: "请选择早班车辆" }).inputValidator({ min: 1, onError: "请选择早班车辆" });
            $("#StartTime").formValidator({ onShow: "请输入早班时间", onFocus: "请输入早班时间" }).inputValidator({ min: 1, onError: "请输入早班时间" })
            $("#EndBusNo").formValidator({ onShow: "请选择晚班车辆", onFocus: "请选择晚班车辆" }).inputValidator({ min: 1, onError: "请选择晚班车辆" });
            $("#EndTime").formValidator({ onShow: "请输入晚班时间", onFocus: "请输入晚班时间" }).inputValidator({ min: 1, onError: "请输入晚班时间" })
            $("#StartAddress").formValidator({ onShow: "请输入起点", onFocus: "请输入起点" }).inputValidator({ min: 1, onError: "请输入起点" })
            $("#EndAddress").formValidator({ onShow: "请输入终点", onFocus: "请输入终点" }).inputValidator({ min: 1, onError: "请输入终点" })
            $("#PriceMon").formValidator({ onShow: "请输入早单价格", onFocus: "请输入早单价格" }).inputValidator({ min: 1, onError: "请输入早单价格" })
            $("#PriceNgt").formValidator({ onShow: "请输入晚单价格", onFocus: "请输入晚单价格" }).inputValidator({ min: 1, onError: "请输入晚单价格" })
            $("#Price").formValidator({ onShow: "请输入往返价格", onFocus: "请输入往返价格" }).inputValidator({ min: 1, onError: "请输入往返价格" })
            $("#Etc").formValidator({ onShow: "请输入备注", onFocus: "请输入备注" }).inputValidator({ min: 1, onError: "请输入备注" })

        });

        @*        function SelectDriverName(id) {
            var Driverlist = '@ViewBag.Driverlist'; 
            var DriverName = document.getElementById(id);
            var Phone = document.getElementById("Phone");

            alert(DriverName.value);

            for (i = 0; i < Driverlist.Length; i++) {
                if (DriverName.value == Driverlist.ID) {
                    Phone.value = Driverlist.Phone;
                }
            }
        }*@

    </script>}


<style type="text/css">
    html {
        _overflow-y: scroll;
    }
</style>



<form name="myform" id="myform" action="@(Request.Url)" method="post">
    <div class="common-form">

        <table width="100%" class="table_form contentWrap">
            <tbody>
                <tr>
                    <th>线路名称：</th>
                    <td>
                        <input type="text" name="LineName" value="@(Model != null ? Model.LineName : "")" id="LineName" class="input-text" style="width:100px" /></td>
                </tr>
                <tr>
                    <th>早班车辆：</th>
                    <td>
                        <select id="StartBusNo" name="StartBusNo">
                            <option value=""></option>
                            @foreach (var StartBus in ViewBag.Buslist)
                            { 
                                <option value="@(StartBus.ID)"   @(Model != null ? StartBus.ID == Model.StartBusID ? " selected" : "" : "")>@(StartBus.BusNo)</option>
                            }
                        </select>
                    </td>
                    <th>早班时间：</th>
                    <td>
                        <input type="text" name="StartTime" value="@(Model != null ? Model.StartTime.ToString("HH:mm") : "")" id="StartTime" class="input-text" style="width:100px" />
                    </td>
                </tr>
                <tr>
                    <th>晚班车辆：</th>
                    <td>
                        <select id="EndBusNo" name="EndBusNo">
                            <option value=""></option>
                            @foreach (var EndBus in ViewBag.Buslist)
                            { 
                                <option value="@(EndBus.ID)"   @(Model != null ? EndBus.ID == Model.EndBusID ? " selected" : "" : "")>@(EndBus.BusNo)</option>
                            }
                        </select>
                    </td>
                    <th>晚班时间：</th>
                    <td>
                        <input type="text" name="EndTime" value="@(Model != null ? Model.EndTime.ToString("HH:mm") : "")" id="EndtTime" class="input-text" style="width:100px" />
                    </td>
                </tr>
                <tr>
                    <th>起点：</th>
                    <td>
                        <input type="text" name="StartAddress" value="@(Model != null ? Model.StartAddress : "")" id="StartAddress" class="input-text" style="width:100px" /></td>
                </tr>
                <tr>
                    <th>终点：</th>
                    <td>
                        <input type="text" name="EndAddress" value="@(Model != null ? Model.EndAddress : "")" id="EndAddress" class="input-text" style="width:100px" /></td>
                </tr>
                <tr>
                    <th>早单价格：</th>
                    <td>
                        <input type="text" name="PriceMon" value="@(Model != null ? Model.PriceMon.ToString() : "")" id="PriceMon" class="input-text" style="width:100px" /></td>
                    <th>晚单价格：</th>
                    <td>
                        <input type="text" name="PriceNgt" value="@(Model != null ? Model.PriceNgt.ToString() : "")" id="PriceNgt" class="input-text" style="width:100px" /></td>
                </tr>
                <tr>
                    <th>往返价格：</th>
                    <td>
                        <input type="text" name="Price" value="@(Model != null ? Model.Price.ToString() : "")" id="Price" class="input-text" style="width:100px" /></td>
                </tr>
                <tr>
                    <th>备注：</th>
                    <td>
                        <input type="text" name="Etc" value="@(Model != null ? Model.Etc : "")" id="Etc" class="input-text" style="width:160px" /></td>
                </tr>
            </tbody>
        </table>
        <!--table_form_off-->

    </div>
    <div class="bk15"></div>
    <div class="btn" style="text-align: center">
        <input type="submit" id="dosubmit" class="button" name="dosubmit" value="添加" />
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <input type="submit" id="cancel" class="button" name="cancel" value="取消" />
    </div>
</form>
