@{
    ViewBag.Title = "DriverUpdate";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}
@using System.Globalization
 @model Bus.Data.Driver
@section HeadScript{
<script language="javascript" type="text/javascript" src="/Content/admin/js/formvalidator.js" charset="UTF-8"></script>
<script language="javascript" type="text/javascript" src="/Content/admin/js/formvalidatorregex.js" charset="UTF-8"></script>    <script language="javascript" type="text/javascript" src="/Content/admin/js/input_validator.js" charset="UTF-8"></script><script type="text/javascript" src="/Content/layer/layer.min.js?v=1.6.0"></script>    <!-- 日历控件 -->
<script src="/Content/admin/js/calendar/jquery.jdpicker.js" type="text/javascript"></script>
<link type="text/css" href="/Content/admin/js/calendar/jdpicker.css" rel="stylesheet"></link>
<link type="text/css" href="/Content/admin/js/calendar/style.css" rel="stylesheet"></link><script type="text/javascript">

    function doSubmit() {
        if (!checkInput()) {
            return;
        }
        $.ajax({
            type: "POST",
            dataType: "json",
            url: '@(Request.Url)',
            data: $('#myform').serialize(),// 你的formid
            async: false,
            error: function (request) {
                alert("Connection error");
            },
            success: function (data) {
                if (data.success) {
                    alert("修改成功");
                    //刷新
                    parent.window[0].location.reload();
                    closeMe();
                }
                else {
                    alert("系统异常，操作不成功。");
                }
            }
        });
    }

    function closeMe() {
        //获取当前窗口索引
        var index = parent.layer.getFrameIndex(window.name);
        parent.layer.close(index);
    }

    function Cancel() {
        closeMe();
    }
    </script>
    }

<style type="text/css">
	html{_overflow-y:scroll}
</style>



    <form name="myform" id="myform" action="@(Request.Url)" method="post">
<div class="common-form">

        <table width="100%" class="table_form contentWrap">
            <tbody>
                <tr>
                    <th><span style="color:red;">*</span>姓名：</th>
                    <td>
                        <input type="text" name="DriverName" value="@(Model != null ? Model.DriverName : "")" id="DriverName" class="input-text" style="width:100px" required  /></td>
                </tr>
                <tr>
                    <th><span style="color:red;">*</span>性别：</th>
                    <td>
                        <select id="Sex" name="Sex" required >
                    <option value="" @(Model.Sex.ToString()==""?" selected":"")>男/女</option>
                    <option value="2" @(Model.Sex.ToString()=="2"?" selected":"")>男</option>
                    <option value="1" @(Model.Sex.ToString()=="1"?" selected":"")>女</option>
                   </select></td>
                </tr>
                <tr>
                    <th><span style="color:red;">*</span>电话：</th>
                    <td>
                        <input type="text" name="Phone" value="@(Model != null ? Model.Phone : "")" id="Phone" class="input-text" style="width:100px" required  /></td>
                </tr>
                                <tr>
                    <th><span style="color:red;">*</span>身份证号：</th>
                    <td>
                        <input type="text" name="IdCard" value="@(Model != null ? Model.IdCard : "")" id="IdCard" class="input-text" style="width:160px" required  /></td>
                </tr>
                                <tr>
                    <th><span style="color:red;">*</span>生日：</th>
                    <td>
                        <input type="text" name="BirthDay" value="@(Model != null ? Model.BirthDay.ToString("yyyy.MM.dd") : "")" id="BirthDay" class="input-text" style="width:100px" required  /></td>
                </tr>
                                <tr>
                    <th><span style="color:red;">*</span>领证年月：</th>
                    <td>
                        <input type="text" name="DriveStartTime" value="@(Model != null ? Model.DriveStartTime.ToString("yyyy.MM.dd") : "")" id="DriveStartTime" class="input-text" style="width:100px" required  /></td>
                </tr>
                                <tr>
                    <th><span style="color:red;">*</span>违章状况：</th>
                    <td>
                        <input type="text" name="BreakRules" value="@(Model != null ? Model.BreakRules : "")" id="BreakRules" class="input-text" style="width:160px" required  /></td>
                </tr>
                                <tr>
                    <th><span style="color:red;">*</span>家庭住址：</th>
                    <td>
                        <input type="text" name="Address" value="@(Model != null ? Model.Address : "")" id="Address" class="input-text" style="width:160px" required  /></td>
                </tr>
                                <tr>
                    <th>备注：</th>
                    <td>
                        <input type="text" name="Etc" value="@(Model != null ? Model.Etc : "")" id="Etc" class="input-text" style="width:160px" /></td>
                </tr>
            </tbody>
        </table>
        <!--table_form_off-->

</div>
<div class="bk15"></div>
<div class="content-menu ib-a blue" style="text-align:center">
    <a href='javascript:doSubmit();' class="on"><em>修改</em></a>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a class="on"  onclick="Cancel()"><em>取消</em></a>
    </div>

        <script type="text/javascript">
            $('#BirthDay').jdPicker();
            $('#DriveStartTime').jdPicker();
            </script>
    </form>
