@{
    ViewBag.Title = "LinePayCnt";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}
@model List<Bus.Data.LineCntView>
<script type="text/javascript" src="/Content/layer/layer.min.js?v=1.6.0"></script>

<style type="text/css">
    html {
        _overflow-y: scroll;
    }
     .auto-hide{ 
        table-layout: fixed;
    }
    .auto-hide td{
        cursor:pointer;
        overflow: hidden; text-overflow: ellipsis; white-space: nowrap;
    }
</style>

<table width="100%" cellspacing="0" class="search-form">
    <tbody>
        <tr>
            <td>
                <div class="explain-col" style="height:60px;">
                    <div style="float:left;line-height:28px;">
                        @{ var LineName = TheCMS.Common.iRequest.GetQueryString("LineName");
                           var StartAddress = TheCMS.Common.iRequest.GetQueryString("StartAddress");
                           var EndAddress = TheCMS.Common.iRequest.GetQueryString("EndAddress");}
                        &nbsp;&nbsp;&nbsp;&nbsp;线路:&nbsp;&nbsp;
                        <input type="text" id="search_LineName" value="@(LineName)" style="width:120px;"  class="input-text" />
                        <br />
                        &nbsp;&nbsp;&nbsp;&nbsp;起点:&nbsp;&nbsp;
                        <input type="text" id="search_StartAddress" value="@(StartAddress)" style="width:120px;"  class="input-text" />
                        &nbsp;&nbsp;&nbsp;&nbsp;终点:&nbsp;&nbsp;
                        <input type="text" id="search_EndAddress" value="@(EndAddress)" style="width:120px;"  class="input-text" />
                    </div>
                    
                    <div class="content-menu ib-a blue" style="float:right;text-align:right;vertical-align:middle;height:60px;">
                        <a href='javascript:GoSearch();' class="on"><em>搜索</em></a>
                    </div>
                </div>
            </td>
        </tr>
    </tbody>
</table>

<div class="pad_10">
    <div class="table-list">
        <table width="100%" cellspacing="0" id="lineList" class="auto-hide">
            <thead>
                <tr>
                    <th align='center' width="80" rowspan="2">线路</th>
                    <th align='center' width="100" rowspan="2">起点</th>
                    <th align='center' width="100" rowspan="2">终点</th>
                    <th align='center' width="100" colspan="2">早</th>
                    <th align='center' width="100" colspan="2">晚</th>
                    <th align='center' width="50" rowspan="2">次卡</th>
                </tr>
                <tr>
                    <th align='center' width="40">时间</th>
                    <th align='center' width="60">座位</th>
                    <th align='center' width="40">时间</th>
                    <th align='center' width="60">座位</th>
                </tr>
            </thead>

            <tbody>
                @if (Model.Count == 0)
                { 
                    <tr>
                        <td colspan="8" style="text-align:center;"></td>
                    </tr>
                }

                @{float startSeatPercent = 0, endSeatPercent = 0;}
                @foreach (var item in Model)
                {
                    startSeatPercent = (item.StartSeatCnt == null || item.StartSeatCnt == 0) ? 0 : (float)(item.StartUserCnt*100 / item.StartSeatCnt);
                    endSeatPercent = (item.EndSeatCnt == null || item.EndSeatCnt == 0) ? 0 : (float)(item.EndUserCnt * 100 / item.EndSeatCnt);
                    
                    <tr id="tr_@(item.LineID)">
                        <td align='left'>
                            @(item.LineName)
                            <input type="hidden" id="LineID_@(item.LineID)" value="@(item.LineID)" />
                        </td>
                        <td align='left'>@(item.StartAddress)</td>
                        <td align='leftcc'>@(item.EndAddress)</td>
                        <td align='center'>@(item.StartTime.ToString("HH:mm"))</td>
                        <td align='center' style="@(startSeatPercent > 90 ? "color:red;font-weight:700;" : "")" > 
                            @(item.StartUserCnt)/@(item.StartSeatCnt)
                        </td>
                        <td align='center'>@(item.EndTime.ToString("HH:mm"))</td>
                        <td align='center' style="@(endSeatPercent > 90 ? "color:red;font-weight:700;" : "")" >
                            @(item.EndUserCnt)/@(item.EndSeatCnt)

                        </td>
                        <td align='center' style="color:blue;font-weight:700;">@(item.CountUserCnt)</td>
                    </tr>                       
                }


            </tbody>
        </table>
    </div>
</div>
<script type="text/javascript">

    function GoSearch() {
        var LineName = $("#search_LineName").val();
        var StartAddress = $("#search_StartAddress").val();
        var EndAddress = $("#search_EndAddress").val();

        var u = "LineCntList2?LineName=" + LineName + "&StartAddress=" + StartAddress + "&EndAddress=" + EndAddress;
        window.location.href = u;
    }

    //回车搜索
    $("[id^='search_']").keyup(function (event) {
        if (event.keyCode == 13) {
            GoSearch();
        }
    });

    //点击线路
    $("[id^='tr_']").click(function (event) {
        var lineID = $(this).find("[id^='LineID_']").val();
        
        //背景
        $("#lineList tr").prop("style", "");
        $(this).prop("style", "background-color:orange;");

        //人员页面刷新
        parent.window[1].location.href = "LineUserList2?RT=MO,AF,MA,CN&lineID=" + lineID;
    });

    $("#lineList td").mouseover(function (e) {
        if ($.trim($(this).text()) != "") {
            layer.tips($(this).text(), this, { guide: 1, time: 2 });
        }
    });c
</script>
