@{
    ViewBag.Title = "ManagerList";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

@model List<Bus.Data.LineUser>
<style type="text/css">
	html{_overflow-y:scroll}
</style>

<div style="height:30px;">
    <div style="float:left;padding:5px 0 0 5px;">[线路信息]</div>
    <div class="content-menu ib-a blue" style="padding-right:10px; float:right;">
        <a href='javascript:LineCnt1Popup();' class="on"><em>分线路</em></a>
    </div>
</div>

<div class="table-list">
    <table width="100%" cellspacing="0" >
        <thead>
            <tr>
            <th align='center' width="120">线路</th> 
            @*<th align='center' width="100">车卡编号</th>*@
            <th align='center' width="80">类型</th>
            <th align='center' width="120">发站</th>
            <th align='center' width="120">到站</th>
            <th align='center' width="80">早班</th>
            <th align='center' width="80">晚班</th>
			<th width="80">删除</th>
            </tr>
        </thead>
    <tbody>
        @if (Model.Count == 0) { 
        <tr>
            <td colspan="8" style="text-align:center">没有任何数据</td>
        </tr>
        }
        @foreach(var item in Model){
            <tr>
				<td align='center'>
                   @{var BusLine = Bus.Data.BusLineDB.GETBusLine(item.LineID);}
                   @(BusLine ==null ? "" :BusLine.LineName)
				</td>
				@*<td align='center'>@(item.BusCard)</td> *@
                <td align='center'>
                    @("MO".Equals(item.RideType)? "早单程": 
                        "AF".Equals(item.RideType)? "晚单程" :  
                        "MA".Equals(item.RideType)? "全程" :
                        "CN".Equals(item.RideType)? "次卡" : "" )
                </td> 
                <td align='center'>
                    @(BusLine ==null ? "" :BusLine.StartAddressSel)
                </td>
                <td align='center'>
                    @(BusLine ==null ? "" :BusLine.EndAddressSel)
                </td> 
                <td align='center'>
                    @(BusLine ==null ? "" :(BusLine.StartTime.ToString("mm")=="00"||BusLine.StartTime.ToString("mm")=="30")?BusLine.StartTime.ToString("HH:mm"):"")
                </td> 
                <td align='center'>
                    @(BusLine ==null ? "" :(BusLine.EndTime.ToString("mm")=="00"||BusLine.EndTime.ToString("mm")=="30")?BusLine.EndTime.ToString("HH:mm"):"")
                </td> 
				<td align='center' >
                    <a style="cursor:pointer;text-decoration:underline;" href="javascript:DelData('delLineUser','@(item.ID)')">删除</a>
				</td>
			</tr>                    
        }
   
    </tbody>
    </table>
</div>

<script type="text/javascript">

    //分车页面
    function LineCnt1Popup() {
        @{var UserID = TheCMS.Common.iRequest.GetQueryString("UserID");
          var Names = UserID == "" ? "" :Bus.Data.UsersDB.GetUserName(int.Parse(UserID));}
        
        if ("@(UserID)" == "") {
            parent.layer.alert("亲，先选择会员再分线路好么？ ^_^");
            return;
        }

        var param = "UserIDs=@(UserID)";
        var title = "分线路<span style='color:red;font-weight:700;'>[@(Names)]</span>";

        var width = $(window.parent.parent).width() - 250;
        var height = $(window.parent.parent).height() - 100;
        parent.parent.$.layer({
            type: 2,
            title: title,
            iframe: { src: "/admin/LineCntList1?" + param },
            area: [width+'px', height+'px'],
            offset: ['40px', '']
        });
    }

    </script>