@{
    ViewBag.Title = "Manager";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}
@model Bus.Data.Manager
@section HeadScript{
<script language="javascript" type="text/javascript" src="/Content/admin/js/formvalidator.js" charset="UTF-8"></script>
<script language="javascript" type="text/javascript" src="/Content/admin/js/formvalidatorregex.js" charset="UTF-8"></script>
<script type="text/javascript" src="/Content/layer/layer.min.js?v=1.6.0"></script>
 
 
<script type="text/javascript">
    $(document).ready(function () {


        $.formValidator.initConfig({
            formID: "myform", mode: 'AutoTip',
            onError: function (msg, obj) {
                layer.alert('错误啦！'+msg, 3, !1);
            },
            ajaxForm: {
                type:'POST',
                dataType: 'json',
                buttons: $("#dosubmit"),
                url: "@(Request.Url)",
                success: function (result) {
                    if (result.success) {
                        layer.confirm('操作成功，是否继续添加？', function (index) {
                            layer.close(index);
                            window.location.href = "Manager";
                        }, '提示信息', function (index) {
                            layer.close(index);
                            window.location.href = "ManagerList";
                        });
                    }
                    else {
                        layer.alert('发生错误，操作不成功！', 3, !1);
                    }
                    return false;
                    
                }
            },
            submitAfterAjaxPrompt: '有数据正在异步验证，请稍等...'
        });
        $("#UserName").formValidator({ onShow: "请输入用户名", onFocus: "请输入用户名" }).inputValidator({ min: 1, onError: "请输入用户名" });
        $("#RealName").formValidator({ onShow: "请输入姓名", onFocus: "请输入姓名" }).inputValidator({ min: 1, onError: "请输入姓名" });
        $("#ManagerType").formValidator({ onShow: "请选择用户类型", onFocus: "请选择用户类型" }).inputValidator({ min: 1, onError: "请选择用户类型" });
    });
 
</script>

}
<div class="subnav">
    <div class="content-menu ib-a blue line-x">
        <a href="ManagerList"><em>管理员管理</em></a><span>|</span><a href="javascript:;" class="on"><em>添加/修改</em></a>
    </div>
</div>
<style type="text/css">
    html {
        _overflow-y: scroll;
    }
</style>
    <form name="myform" id="myform" action="@(Request.Url)" method="post">
<div class="common-form">

        <table width="100%" class="table_form contentWrap">
            <tbody>
                <tr>
                    <th>用户名：</th>
                    <td>
                        <input type="text" name="UserName" value="@(Model != null ? Model.UserName : "")" id="UserName" class="input-text" /></td>
                </tr>
                <tr>
                    <th>密码：</th>
                    <td><input type="hidden" name="hidPassword" value="@(Model != null ? Model.Password : "")" />
                        <input type="text" name="Password" value="" id="Password" class="input-text" />(如不修改请留空，添加需填写。)</td>
                </tr>
                <tr>
                    <th>姓名：</th>
                    <td>
                        <input type="text" name="RealName" value="@(Model != null ? Model.RealName : "")" id="RealName" class="input-text" /></td>
                </tr>
                <tr>
                    <th>用户类型：</th>
                    <td>
                        @{var alltypes = Bus.Data.SysCodeDB.SysCodeList("MNG");}
                        <select id="ManagerType" name="ManagerType">
                            <option value="0" @(Model!=null&&Model.ManagerType==""?" selected":"")>请选择</option>
                            @foreach (var item in alltypes)
                            {
                                <option value="@(item.Keys)" @(Model!=null&&Model.ManagerType==item.Keys?" selected":"")>@(item.Names)</option>
                            }
                        </select>
                </tr>
            </tbody>
        </table>
        <!--table_form_off-->

</div>
<div class="bk15"></div>
<div class="btn">
    <input type="submit" id="dosubmit" class="button" name="dosubmit" value="提交" /></div>
    </form>