@{
    ViewBag.Title = "MergeSelectTool";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

@model PagedList<Bus.Data.MergeNameView>
<script type="text/javascript" src="/Content/layer/layer.min.js?v=1.6.0"></script>

<style type="text/css">
    html {
        _overflow-y: scroll;
    }

    .auto-hide{ 
        table-layout: fixed;
    }
    .auto-hide td{
        cursor:pointer;
        overflow: hidden; text-overflow: ellipsis; white-space: nowrap;
    }
</style>

<table width="100%" cellspacing="0" class="search-form">
    <tbody>
        <tr>
            <td>
                <div class="explain-col" style="line-height: 33px;">

                    @{ var SelectMode = TheCMS.Common.iRequest.GetQueryString("SelectMode");
                       var LN = TheCMS.Common.iRequest.GetQueryString("LN");}

                    筛选方式：
                    <select id="SelectMode">
                        <option value=""></option>
                        <option value="0" @(SelectMode == "0" ? " selected" : "")>电话号</option>
                        <option value="1" @(SelectMode == "1" ? " selected" : "")>姓名</option>
                    </select>
                    &nbsp;&nbsp;&nbsp;&nbsp;
                   线路：<input type="text" id="LN" name="LN" value="@(LN)" style="width:90px;"  class="input-text" /> 

                    <div class="content-menu ib-a blue" style="float: right; margin-top: 0px; text-align:left;width:60%;">
                        <a href='javascript:GoSearch();' class="on"><em>查询</em></a>
                    </div>
                </div>
            </td>
        </tr>
    </tbody>
</table>

<script type="text/javascript">
    function GoSearch() {

        var SelectMode = $("#SelectMode").val();
        var lineName = $("#LN").val();

        var u = "MergeSelectTool?SelectMode=" + SelectMode + "&LN=" + lineName;

        window.location.href = u;
    }

    function openMergeTool(Mode, Value) {
        ShowWin("MergeTool?Mode=" + Mode + "&Value=" + Value + "&DelFlag=" + DelFlag);
    }
</script>
<div class="pad_10">

    <div class="bk10"></div>
    <div class="table-list">
        <table id="userList" width="100%" cellspacing="0" border="0" class="auto-hide">
            <thead>
                <tr>
                    <th width="60" align="center">姓名</th>
                    <th width="80" align="center">电话</th>
                    <th width="30" align="center">性别</th>
                    <th width="120" align="center">线路信息</th>
                    <th width="120" align="center">居住地</th>
                    <th width="120" align="center">工作地</th>
                    <th width="50" align="center">上班时</th>
                    <th width="50" align="center">下班时</th>

                    @{var yymm = Bus.Core.Common.GetYearMonthList();}
                    @foreach (var item in yymm)
                    {
                        <th width="40" align="center">@(item.Substring(4))月</th>
                    }
                    <th width="120" align="center">备注</th>
                </tr>
            </thead>
            <tbody>
                @if ((Model == null || Model.Count == 0) && (ViewBag.MergePhonelist == null || ViewBag.MergePhonelist.Count == 0))
                { 
                    <tr>
                        <td colspan="13">没有任何数据</td>
                    </tr>
                }
                @if (Model != null)
                {
                    var address = "";
                    foreach (var item in Model)
                    {
                    <tr>
                        @if (SelectMode == "1")
                        { 
                            <td align="left" style="cursor: pointer; text-decoration: underline;">
                                <a onclick="openMergeTool('1', '@(item.Names)')">@(item.Names)</a><span style=" @(item.userCnt > 1? "color:red;font-weight:600;":"")">(@(item.userCnt))</span>
                            </td>
                        }
                        else
                        {
                            <td align="left">@(item.Names)</td>
                        }
                        @if (SelectMode == "0")
                        { 
                            <td align="left" style="cursor: pointer; text-decoration: underline;">
                                <a onclick="openMergeTool('0', '@(item.Phone)')">@(item.Phone)</a>(@(item.userCnt))
                            </td>
                        }
                        else
                        {
                            <td align="left">@(item.Phone)</td>
                        }
                        <td align="center">@(item.Sex == 1 ? "男" : item.Sex == 2 ? "女" : "")</td>
                        <td align="left">@(item.LineName)</td>

                        <td align="left">
                            @{address = item.AddressSel != null? item.AddressSel : "";}
                            @(address.LastIndexOf(",") > -1 ?
                                (address.LastIndexOf(",", address.LastIndexOf(",") - 1) > -1 ?
                                    address.Substring(address.LastIndexOf(",", address.LastIndexOf(",") - 1) + 1).Replace(",", "") : address.Replace(",", ""))
                                        : address.Replace(",", ""))
                        </td>
                        <td align="left">
                            @{address = item.EndAddressSel != null ? item.EndAddressSel : "";}
                            @(address != null && address.LastIndexOf(",") > -1 ?
                                (address.LastIndexOf(",", address.LastIndexOf(",") - 1) > -1 ?
                                    address.Substring(address.LastIndexOf(",", address.LastIndexOf(",") - 1) + 1).Replace(",", "") : address.Replace(",", ""))
                                         : address.Replace(",", ""))
                        </td>
                        <td align="center">@((Convert.ToDateTime(item.StartTime).ToString("mm") == "00" || Convert.ToDateTime(item.StartTime).ToString("mm") == "30") ? Convert.ToDateTime(item.StartTime).ToString("HH:mm") : "")</td>

                        <td align="center">@((Convert.ToDateTime(item.EndTime).ToString("mm") == "00" || Convert.ToDateTime(item.EndTime).ToString("mm") == "30") ? Convert.ToDateTime(item.EndTime).ToString("HH:mm") : "")</td>
                        <td align="center">
                            @{var paymoney = item.money1.ToString();}
                            @(paymoney.Length > 0 ? paymoney.Remove(paymoney.IndexOf(".")) : "")
                        </td>
                        <td align="center">
                            @{paymoney = item.money2.ToString();}
                            @(paymoney.Length > 0 ? paymoney.Remove(paymoney.IndexOf(".")) : "")
                        </td>
                        <td align="center">
                            @{paymoney = item.money3.ToString();}
                            @(paymoney.Length > 0 ? paymoney.Remove(paymoney.IndexOf(".")) : "")
                        </td>
                        <td align="left">@(item.Etc)</td>

                    </tr>                    
                    }
                }
                else if (ViewBag.MergePhonelist != null)
                {
                    var address = "";
                    foreach (var item in ViewBag.MergePhonelist)
                    {
                    <tr>
                        @if (SelectMode == "1")
                        { 
                            <td align="left" style="cursor: pointer; text-decoration: underline;">
                                <a onclick="openMergeTool('1', @(item.ID), '@(item.Names)')">@(item.Names)</a>(@(item.userCnt))
                            </td>
                        }
                        else
                        {
                            <td align="left">@(item.Names)</td>
                        }
                        @if (SelectMode == "0")
                        { 
                            <td align="left" style="cursor: pointer; text-decoration: underline;">
                                <a onclick="openMergeTool('0', @(item.ID), '@(item.Phone)')">@(item.Phone)</a><span style=" @(item.userCnt > 1? "color:red;font-weight:600;":"")">(@(item.userCnt))</span>
                            </td>
                        }
                        else
                        {
                            <td align="left">@(item.Phone)</td>
                        }
                        <td align="center">@(item.Sex == 1 ? "男" : item.Sex == 2 ? "女" : "")</td>
                        <td align="left">@(item.LineName)</td>

                        <td align="left">
                            @{address = item.AddressSel != null? item.AddressSel : "";}
                            @(address.LastIndexOf(",") > -1 ?
                                (address.LastIndexOf(",", address.LastIndexOf(",") - 1) > -1 ?
                                    address.Substring(address.LastIndexOf(",", address.LastIndexOf(",") - 1) + 1).Replace(",", "") : address.Replace(",", ""))
                                        : address.Replace(",", ""))
                        </td>
                        <td align="left">
                            @{address = item.EndAddressSel != null ? item.EndAddressSel : "";}
                            @(address != null && address.LastIndexOf(",") > -1 ?
                                (address.LastIndexOf(",", address.LastIndexOf(",") - 1) > -1 ?
                                    address.Substring(address.LastIndexOf(",", address.LastIndexOf(",") - 1) + 1).Replace(",", "") : address.Replace(",", ""))
                                         : address.Replace(",", ""))
                        </td>
                        <td align="center">@((Convert.ToDateTime(item.StartTime).ToString("mm") == "00" || Convert.ToDateTime(item.StartTime).ToString("mm") == "30") ? Convert.ToDateTime(item.StartTime).ToString("HH:mm") : "")</td>

                        <td align="center">@((Convert.ToDateTime(item.EndTime).ToString("mm") == "00" || Convert.ToDateTime(item.EndTime).ToString("mm") == "30") ? Convert.ToDateTime(item.EndTime).ToString("HH:mm") : "")</td>
                        <td align="center">
                            @{var paymoney = "";
                              if (item.money1 != null)
                              {
                                  paymoney = item.money1.ToString();
                              }}
                            @(paymoney.Length > 0 ? paymoney.Remove(paymoney.IndexOf(".")) : "")
                        </td>
                        <td align="center">
                            @{if (item.money1 != null) {
                                  paymoney = item.money2.ToString();
                              }}
                            @(paymoney.Length > 0 ? paymoney.Remove(paymoney.IndexOf(".")) : "")
                        </td>
                        <td align="center">
                            @{if (item.money1 != null) {
                                  paymoney = item.money3.ToString();
                              }}
                            @(paymoney.Length > 0 ? paymoney.Remove(paymoney.IndexOf(".")) : "")
                        </td>
                        <td align="left">@(item.Etc)</td>

                    </tr>                    
                    }
                }
            </tbody>
        </table>

        <div id="pages">
            @if (Model != null){
                Html.Pager(Model, new PagerOptions { PageIndexParameterName = "page", CurrentPagerItemWrapperFormatString = "<span class=\"curpage\">{0}</span>", NumericPagerItemWrapperFormatString = "<span class=\"item\">{0}</span>", CssClass = "pages", AutoHide = false, SeparatorHtml = "" });
            }
            else if (ViewBag.MergePhonelist != null){
                PagedList<Bus.Data.MergePhoneView> list;
                list = ViewBag.MergePhonelist;
                Html.Pager(list, new PagerOptions { PageIndexParameterName = "page", CurrentPagerItemWrapperFormatString = "<span class=\"curpage\">{0}</span>", NumericPagerItemWrapperFormatString = "<span class=\"item\">{0}</span>", CssClass = "pages", AutoHide = false, SeparatorHtml = "" });
            }
        </div>
    </div>
</div>


<script type="text/javascript">

    $("#userList td").mouseover(function (e) {
        if ($.trim($(this).text()) != "") {
            layer.tips($(this).text(), this, { guide: 1, time: 2 });
        }
    })
</script>