@{
    ViewBag.Title = "ManagerList";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

@model List<Bus.Data.PayView>
<script type="text/javascript" src="/Content/layer/layer.min.js?v=1.6.0"></script>

<style type="text/css">
	html{_overflow-y:scroll}
</style>

<script type="text/javascript">

    //缴费页面
    function payPopup(ID) {
        @{var UserID = TheCMS.Common.iRequest.GetQueryString("UserID");
          var Names = UserID == "" ? "" :Bus.Data.UsersDB.GetUserName(int.Parse(UserID));}
        
        if ("@(UserID)" == "") {
            parent.layer.alert("亲，先选择会员再缴费好么？ ^_^");
            return;
        }

        var param = "&ID=" + ID + "&UserID=@(UserID)";
        var title = "缴费操作<span style='color:red;font-weight:700;'>[@(Names)]</span>";
        if (ID != "") {
            var title = "编辑缴费信息<span style='color:red;font-weight:700;'>[@(Names)]</span>";
        }

        parent.$.layer({
            type: 2,
            title: title,
            iframe: { src: "/admin/Pay?" + param },
            area: ['450px', '400px'],
            offset: ['30px', '']
        });
    }

    </script>

<div style="height:30px;">
    <div style="float:left;padding:5px 0 0 5px;">[缴费信息]</div>
    <div class="content-menu ib-a blue" style="padding-right:10px; float:right;">
        <a href='javascript: payPopup("") ;' class="on"><em>缴费</em></a>
    </div>
</div>
<div class="table-list">
    <table width="100%" cellspacing="0" >
        <thead>
            <tr>
            <th align='center' width="130">期间</th> 
            <th align='center' width="70">线路</th>
            <th align='center' width="40">类型</th>
            <th align='center' width="50">金额</th>
            <th align='center' width="60">经手人</th>
            <th align='center' width="80">收款方式</th>
            <th align='center' width="60">缴费时间</th>
			<th align='center' width="40">删除</th>
            </tr>
        </thead>
    <tbody>
        @if (Model.Count == 0) { 
        <tr>
            <td colspan="8" style="text-align:center">没有任何数据</td>
        </tr>
        }

        @{var alltypes = Bus.Data.SysCodeDB.SysCodeList("PAYT");}
        @foreach(var item in Model){
            <tr>
				<td align='center' style="cursor:pointer;text-decoration:underline;" onclick="payPopup(@(item.ID))">
                   @(item.StartDate.ToString("yyyy.MM.dd") + "-" + item.EndDate.ToString("yyyy.MM.dd") )
				</td>
				<td align='center'>@(item.LineName)</td> 
                <td align='center'>
                    @("MO".Equals(item.RideType)? "早": 
                        "AF".Equals(item.RideType)? "晚" :  
                        "MA".Equals(item.RideType)? "全" :
                        "CN".Equals(item.RideType)? "次" : "" )
                </td> 
                <td align='center'>
                    @{var paymoney = item.PayMoney!= null ? item.PayMoney.ToString():"0";}
                    @(paymoney.IndexOf(".") > 0 ? paymoney.Remove(paymoney.IndexOf(".")) : paymoney)
                </td>
                <td align='center'>
                    @(item.ManageName)
                </td> 
                <td align='center'>
                    @foreach (var types in alltypes)
                    {
                        @(item!=null&&item.PayType==types.Keys ? types.Names : "")
                    }
                </td> 
                <td align='center'>
                     @(item.PayTime != null? item.PayTime.ToString().Substring(0,10).Replace("-", "."): "")
                </td> 
				<td align='center' >
                    <a style="cursor:pointer;text-decoration:underline;" href="javascript:DelData('deletePay','@(item.ID)')"><u>删除</u></a>
				</td>
			</tr>                    
        }
   
    </tbody>
    </table>
</div>

