@{
    ViewBag.Title = "PayLmngReport";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}
@model PagedList<Bus.Data.PayLmngView>
@section HeadScript{
    <script language="javascript" type="text/javascript" src="/Content/admin/js/formvalidator.js" charset="UTF-8"></script>
    <script language="javascript" type="text/javascript" src="/Content/admin/js/formvalidatorregex.js" charset="UTF-8"></script>
    <script type="text/javascript" src="/Content/layer/layer.min.js?v=1.6.0"></script>
    <script language="JavaScript" type="text/javascript" src="/Content/My97DatePicker/WdatePicker.js"></script>

    <script type="text/javascript">
        
        function GoSearch() {

            var LineName = $("#LineName").val();//线路
            var PayTime = $("#PayTime").val();//查询期间
            var Names = $("#Names").val();//车长姓名
            var MangerID = $("#MangerID").val();//经手人
            var LockFlag = $("#LockFlag").val();//状态

            var u = "PayLmngReport?LineName=" + LineName + "&PayTime=" + PayTime + "&Names=" + Names +
                    "&MangerID=" + MangerID + "&LockFlag=" + LockFlag;
            window.location.href = u;
        }

        //导出Excel
        function ToExcel() {
            var url = "@(Request.Url)";
            url = url.replace("PayLmngReport", "ToExcelPayLmngReport");
            window.location.href = url;
        }

        function LockPay() {
            if (confirm("确定要锁定此" + @(Model.Count) + "条缴费记录吗")) {
                $.ajax({
                    type: "POST",
                    dataType: "json",
                    url: "PayLmngLock",
                    data: $('#myform').serialize(),// 你的formid
                    async: false,
                    error: function (request) {
                        alert("Connection error");
                    },
                    success: function (data) {
                        if (data.success) {
                            alert("锁定成功");
                            //刷新
                            window.location.reload();
                        }
                        else {
                            alert("系统异常，操作不成功。");
                        }
                    }
                });
            }
        }
    </script>
}

<style type="text/css">
    html {
        _overflow-y: scroll;
    }

    .auto-hide{ 
        table-layout: fixed;
    }
    .auto-hide td{
        cursor:pointer;
        overflow: hidden; text-overflow: ellipsis; white-space: nowrap;
    }
</style>

<form name="myform" id="myform" action="@(Request.Url)" method="post">
    @{var mList = Bus.Data.ManagerDB.ManagerList();}
    @{var manager = Bus.Web.Controllers.AdminController.LoginManger();
              var managerType = manager.ManagerType;}
    <table width="100%" cellspacing="0" class="search-form">
        <tbody>

            @{ var LineName = TheCMS.Common.iRequest.GetQueryString("LineName");}
            @{ var PayTime = TheCMS.Common.iRequest.GetQueryString("PayTime");}
            @{ var Names = TheCMS.Common.iRequest.GetQueryString("Names");}
            @{ var MangerID = TheCMS.Common.iRequest.GetQueryString("MangerID");}
            @{ var LockFlag = TheCMS.Common.iRequest.GetQueryString("LockFlag");}

            <tr>
                <td>
                    <div class="explain-col" style="line-height: 30px; height: 60px;">
                        <div style="float: left;">
                            线路
                            <input type="text" id="LineName" name="LineName" value="@(LineName)" style="width:90px;"  class="input-text" required/>
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            车长姓名
                            <input type="text" id="Names" name="Names" value="@(Names)" style="width:90px;"  class="input-text" />
                            <br />
                            经手人 
                            <select id="MangerID" name="MangerID">
                                <option value="0">请选择</option>
                                @foreach (var item in mList)
                                {
                                    <option value="@(item.ID)"  @(Model != null ? item.ID.ToString() == MangerID ? " selected" : "" : "")>@(item.RealName)</option>
                                }
                            </select>
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            状态
                            <select id="LockFlag">
                                <option value="" @(LockFlag == "" ? " selected" : "")>全部</option>
                                <option value="00" @(LockFlag == "00" ? " selected" : "")>未锁定</option>
                                <option value="01" @(LockFlag == "01" ? " selected" : "")>已锁定</option>
                            </select>
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            查询期间
                            @{var now = DateTime.Now;
                              now = now.AddMonths(1);}
                            <select id="PayTime" name="PayTime">
                                <option value="all" @(PayTime.ToString() == "all" ? " selected" : "")>全部期间</option>
                                @for (var i = 0; i < 12; i++)
                                {
                                    <option value="@(now.ToString("yyyy/MM/dd"))" @(PayTime == now.ToString("yyyy/MM/dd") ? " selected" : "") @(PayTime == ""&&i==1 ? " selected" : "")>
                                        @(now.ToString("yyyy年MM月"))
                                    </option>
                                    now = now.AddMonths(-1);
                                }
                            </select>
                        </div>
                        <div class="content-menu ib-a blue" style="float: right; text-align: right;">
                            @*仅管理员可见*@
                            @if (managerType == "MNG")
                            {
                                <div>
                                    <a href='javascript:LockPay();' class="on"><em>锁定缴费</em></a>&nbsp;
                                    <a href='javascript:ToExcel();' class="on"><em>导出</em></a>
                                </div>
                            }
                            <div>
                                <a href='javascript:GoSearch();' class="on"><em>查询</em></a>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>

    <div class="pad_10">
        <div class="bk10"></div>
        <div class="table-list">

            <table id="PayLmngReport" width="100%" cellspacing="0" class="auto-hide">
                <thead>
                <tr>
                    <th align='center' width="150">线路信息</th>
                    <th align='center' width="90">期间</th>
                    <th align='center' width="90">车长姓名</th>
                    <th align='center' width="45">性别</th>
                    <th align="center" width="100">电话</th>
                    <th align='center' width="90">应收款</th>
                    <th align='center' width="90">实收款</th>
                    <th align='center' width="90">单次款</th>
                    <th align='center' width="90">经手人</th>
                    <th align='center' width="60">备注</th>
                    <th align='center' width="90">缴费时间</th>
                    <th align='center' width="60">状态</th>
                </tr>
                    </thead>
                

                <tbody>
                    @if (Model.Count == 0)
                    { 
                        <tr>
                            <td colspan="9">没有任何数据</td>
                        </tr>
                    }
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td align='center'>@(item.LineName)</td>
                            <td align='center'>@(item.PayTime.ToString("yyyy年MM月"))</td>
                            <td align='center'>@(item.Names)</td>
                            <td align='center'>@(item.Sex == 1 ? "女" : item.Sex == 2 ? "男" : "")</td>
                            <td align='center'>@(item.Phone)</td>
                            <td align='center'>
                                @{var paymoney = item.PayMoneyYS.ToString();}
                                @(paymoney.Length > 0 ? paymoney.Remove(paymoney.IndexOf(".")) : "")
                            </td>
                            <td align='center'>
                                @{paymoney = item.PayMoneySS.ToString();}
                                @(paymoney.Length > 0 ? paymoney.Remove(paymoney.IndexOf(".")) : "")
                            </td>
                            <td align='center'>
                                @{paymoney = item.PayMoneyDC.ToString();}
                                @(paymoney.Length > 0 ? paymoney.Remove(paymoney.IndexOf(".")) : "")
                            </td> 
                            <td align='center'>@(item.ManagerName)</td>
                            <td align='center'>@(item.Ect)</td>
                            <td align='center'>@(item.PayTime.ToString("yyyy.MM.dd"))</td>
                            <td align='center'>@(item.LockFlag == "01" ? "已锁定" : "")</td>
                        </tr>                    
                    }

                </tbody>
@*                @using (Html.BeginForm("PayLock", "Admin"))//ActionName，ControllerName
                {
                    for (int i = 0; i < Model.Count; i++)
                    {
                    <tr style="height:0px;">
                        <td style="height:0px;">@Html.HiddenFor(x => x[i].ID)</td>
                        <td>@Html.HiddenFor(x => x[i].LineName)</td>
                        <td>@Html.HiddenFor(x => x[i].PayTime)</td>
                        <td>@Html.HiddenFor(x => x[i].Names)</td>
                        <td>@Html.HiddenFor(x => x[i].Sex)</td>
                        <td>@Html.HiddenFor(x => x[i].Phone)</td>
                        <td>@Html.HiddenFor(x => x[i].PayMoneyYS)</td>
                        <td>@Html.HiddenFor(x => x[i].PayMoneySS)</td>
                        <td>@Html.HiddenFor(x => x[i].PayMoneyDC)</td>
                        <td>@Html.HiddenFor(x => x[i].ManagerName)</td>
                        <td>@Html.HiddenFor(x => x[i].Ect)</td>
                        <td>@Html.HiddenFor(x => x[i].PayTime)</td>
                        <td>@Html.HiddenFor(x => x[i].LockFlag)</td>
                    </tr>
                    }
                }*@
            </table>

            <div id="pages">
                @Html.Pager(Model, new PagerOptions { PageIndexParameterName = "page", CurrentPagerItemWrapperFormatString = "<span class=\"curpage\">{0}</span>", NumericPagerItemWrapperFormatString = "<span class=\"item\">{0}</span>", CssClass = "pages", AutoHide = false, SeparatorHtml = "" })
            </div>
        </div>
    </div>

    <script type="text/javascript">
        $("#PayLmngReport td").mouseover(function (e) {
            if ($.trim($(this).text()) != "") {
                layer.tips($(this).text(), this, { guide: 1, time: 2 });
            }
        });

        $("input").keyup(function (event) {
            if (event.keyCode == 13) {
                GoSearch();
            }
        });
    </script>

</form>

