@{
    ViewBag.Title = "ManagerList";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

@model List<Bus.Data.PayView>
<style type="text/css">
	html{_overflow-y:scroll}
</style>

<div class="content-menu ib-a blue" align="right">
    <a href='javascript:;;' class="on"><em>缴费</em></a>
</div>
<div class="table-list">
    <table width="100%" cellspacing="0" >
        <thead>
            <tr>
            <th align='center' width="130">期间</th> 
            <th align='center' width="70">线路</th>
            <th align='center' width="40">类型</th>
            <th align='center' width="50">金额</th>
            <th align='center' width="60">经手人</th>
            <th align='center' width="80">收款方式</th>
            <th align='center' width="60">缴费时间</th>
			<th align='center' width="40">删除</th>
            </tr>
        </thead>
    <tbody>
        @if (Model.Count == 0) { 
        <tr>
            <td colspan="8">没有任何数据</td>
        </tr>
        }

        @{var alltypes = Bus.Data.SysCodeDB.SysCodeList("PAYT");}
        @foreach(var item in Model){
            <tr>
				<td align='center'>
                   @(item.StartDate.ToString("yyyy.MM.dd") + "-" + item.EndDate.ToString("yyyy.MM.dd") )
				</td>
				<td align='center'>@(item.LineName)</td> 
                <td align='center'>
                    @("MO".Equals(item.RideType)? "早": 
                        "AF".Equals(item.RideType)? "晚" :  
                        "MA".Equals(item.RideType)? "全" :
                        "CN".Equals(item.RideType)? "次" : "" )
                </td> 
                <td align='center'>
                    @{var paymoney = item.PayMoney.ToString();}
                    @(paymoney.Remove(paymoney.IndexOf(".")))
                </td>
                <td align='center'>
                    @(item.ManageName)
                </td> 
                <td align='center'>
                    @foreach (var types in alltypes)
                    {
                        @(item!=null&&item.PayType==types.Keys ? types.Names : "")
                    }
                </td> 
                <td align='center'>
                     @(item.PayTime != null? item.PayTime.ToString().Substring(0,10).Replace("-", "."): "")
                </td> 
				<td align='center' >
                    <a href="javascript:DelData('deletePay','@(item.ID)')"><u>删除</u></a>
				</td>
			</tr>                    
        }
   
    </tbody>
    </table>
</div>

