@{
    ViewBag.Title = "PayReport";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}
@model PagedList<Bus.Data.PayView>
@section HeadScript{
    <script language="javascript" type="text/javascript" src="/Content/admin/js/formvalidator.js" charset="UTF-8"></script>
    <script language="javascript" type="text/javascript" src="/Content/admin/js/formvalidatorregex.js" charset="UTF-8"></script>
    <script type="text/javascript" src="/Content/layer/layer.min.js?v=1.6.0"></script>
    <script language="JavaScript" type="text/javascript" src="/Content/My97DatePicker/WdatePicker.js"></script>

    <script type="text/javascript">

        $(document).ready(function () {

            $.formValidator.initConfig({
                formID: "myform", mode: 'AutoTip',
                onError: function (msg, obj) {
                    layer.alert('错误啦！' + msg, 3, !1);
                },
                ajaxForm: {
                    type: 'POST',
                    dataType: 'json',
                    buttons: $("#Lock"),
                    url: "@(Request.Url)",
                    success: function (result) {
                        if (result.success) {
                            alert('锁定成功');
                            /*
                            layer.alert('修改成功', function (index) {
                                layer.close(index);
                                parent.layer.close();
                                parent.location.href = "BusList";
                            }, '提示信息', function (index) {
                                layer.close(index);
                                window.location.href = "BusList";
                            });
                            */
                        }
                        else {
                            layer.alert('发生错误，操作不成功！', 3, !1);
                        }
                        return false;

                    }
                },
                submitAfterAjaxPrompt: '有数据正在异步验证，请稍等...'
            });
        });

        function GoSearch() {
            var LineName = $("#LineName").val();//线路
            var PayTime1 = $("#PayTime1").val();//查询期间1
            var PayTime2 = $("#PayTime2").val();//查询期间2
            var LockFlag = $("#LockFlag").val();//状态
            var MangerID = $("#MangerID").val();//经手人
            var PayType = $("#PayType").val();//收款方式
            var PayMoney1 = $("#PayMoney1").val();//金额区间1
            var PayMoney2 = $("#PayMoney2").val();//金额区间2

            var u = "PayReport?LineName=" + LineName + "&PayTime1=" + PayTime1 + "&PayTime2=" + PayTime2 +
                    "&LockFlag=" + LockFlag + "&MangerID=" + MangerID + "&PayType=" + PayType +
                    "&PayMoney1=" + PayMoney1 + "&PayMoney2=" + PayMoney2;
            window.location.href = u;
        }

        //function Lock() {
        //    var u = "PayReport";
        //    window.location.href = u;
        //}
    </script>
}
<div class="subnav">
    <div class="content-menu ib-a blue line-x">
        <a href="javascript:;;" class="on"><em>缴费报表</em></a>
    </div>
</div>
<style type="text/css">
    html {
        _overflow-y: scroll;
    }
</style>

<form name="myform" id="myform" action="@(Request.Url)" method="post">
    @{var pList = Bus.Data.SysCodeDB.SysCodeList("PAYT");}
    @{var mList = Bus.Data.ManagerDB.ManagerList();}
    <table width="100%" cellspacing="0" class="search-form">
        <tbody>

            @{ var LineName = TheCMS.Common.iRequest.GetQueryString("LineName");}
            @{ var PayTime1 = TheCMS.Common.iRequest.GetQueryString("PayTime1");}
            @{ var PayTime2 = TheCMS.Common.iRequest.GetQueryString("PayTime2");}
            @{ var LockFlag = TheCMS.Common.iRequest.GetQueryString("LockFlag");}
            @{ var PayMoney1 = TheCMS.Common.iRequest.GetQueryString("PayMoney1");}
            @{ var PayMoney2 = TheCMS.Common.iRequest.GetQueryString("PayMoney2");}

            <tr>
                <td>
                    <div class="explain-col">
                        线路
                    <input type="text" id="LineName" name="LineName" value="@(LineName)" style="width:90px;"  class="input-text" />
                        查询期间
                    <input type="text" id="PayTime1" name="PayTime1" value="@(PayTime1)" style="width:90px;"  class="input-text" />
                        -
                    <input type="text" id="PayTime2" name="PayTime2" value="@(PayTime2)" style="width:90px;"  class="input-text" />
                        状态
                    <select id="LockFlag">
                        <option value="" @(LockFlag == "" ? " selected" : "")>全部</option>
                        <option value="00" @(LockFlag == "00" ? " selected" : "")>未锁定</option>
                        <option value="01" @(LockFlag == "01" ? " selected" : "")>已锁定</option>
                    </select>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <input type="submit" id="Lock" name="Lock" class="button" value="锁定缴费">
                        @*<input type="button" id="Lock" name="Lock" class="button" onclick="Lock()" value="锁定缴费">*@
                        <input type="button" name="OutPut" class="button" onclick="javascript: window.location.href = 'ToExcelReport';" value="导出">
                    </div>
                </td>
            </tr>

            <tr>
                <td>
                    <div class="explain-col">
                        经手人 
                    <select id="MangerID" name="MangerID">
                        <option value="0">请选择</option>
                        @foreach (var item in mList)
                        {
                            <option value="@(item.ID)">@(item.RealName)</option>
                        }
                    </select>
                        收款方式 
                    <select id="PayType" name="PayType">
                        <option value="0">请选择</option>
                        @foreach (var item in pList)
                        {
                            <option value="@(item.Keys)">@(item.Names)</option>
                        }
                    </select>
                        金额区间
                    <input type="text" id="PayMoney1" name="PayMoney1" value="@(PayMoney1)" style="width:90px;"  class="input-text" />
                        -
                    <input type="text" id="PayMoney2" name="PayMoney2" value="@(PayMoney2)" style="width:90px;"  class="input-text" />
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <input type="button" name="Search" class="button" onclick="GoSearch()" value="查询">
                    </div>
                </td>
            </tr>
        </tbody>
    </table>

    <div class="pad_10">
        <div class="bk10"></div>
        <div class="table-list">

            <table width="100%" cellspacing="0">

                <tr>
                    <th align='center' width="100">线路信息</th>
                    <th align='center' width="100">类型</th>
                    <th align='center' width="100">姓名</th>
                    <th align='center' width="100">性别</th>
                    <th align="center" width="180">电话</th>
                    <th align='center' width="100">缴费期间(始)</th>
                    <th align='center' width="100">缴费期间(末)</th>
                    <th align='center' width="200">金额</th>
                    <th align='center' width="100">经手人</th>
                    <th align='center' width="200">收款方式</th>
                    <th align='center' width="120">备注</th>
                    <th align='center' width="120">缴费时间</th>
                    <th align='center' width="120">状态</th>
                </tr>

                @using (Html.BeginForm("PayReport", "Admin"))//ActionName，ControllerName
                {
                    for (int i = 0; i < Model.Count; i++)
                    {
                    <tr>
                        <td>@Html.HiddenFor(x => x[i].ID)</td>
                        <td>@Html.HiddenFor(x => x[i].UserID)</td>
                        <td>@Html.HiddenFor(x => x[i].LineUserID)</td>
                        <td>@Html.HiddenFor(x => x[i].RideType)</td>
                        <td>@Html.HiddenFor(x => x[i].Names)</td>
                        <td>@Html.HiddenFor(x => x[i].Sex)</td>
                        <td>@Html.HiddenFor(x => x[i].Phone)</td>
                        <td>@Html.HiddenFor(x => x[i].StartDate)</td>
                        <td>@Html.HiddenFor(x => x[i].EndDate)</td>
                        <td>@Html.HiddenFor(x => x[i].PayMoney)</td>
                        <td>@Html.HiddenFor(x => x[i].MangerID)</td>
                        <td>@Html.HiddenFor(x => x[i].PayType)</td>
                        <td>@Html.HiddenFor(x => x[i].Etc)</td>
                        <td>@Html.HiddenFor(x => x[i].PayTime)</td>
                        <td>@Html.HiddenFor(x => x[i].DelFlag)</td>
                        <td>@Html.HiddenFor(x => x[i].UpdateTime)</td>
                    </tr>
                    }
                }

                <tbody>
                    @if (Model.Count == 0)
                    { 
                        <tr>
                            <td colspan="9">没有任何数据</td>
                        </tr>
                    }
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td align='center'>@(item.LineName)</td>
                            <td align='center'>@(item.RideType)</td>
                            <td align='center'><a href="javascript:;;" onclick="ShowNames('@(item.Names)','@(item.ID)')" style="font-weight:bold;">@(item.Names)</a></td>
                            <td align='center'>@(item.Sex == 1 ? "女" : item.Sex == 2 ? "男" : "")</td>
                            <td align='center'>@(item.Phone)</td>
                            <td align='center'>@(item.StartDate)</td>
                            <td align='center'>@(item.EndDate)</td>
                            <td align='center'>@(item.PayMoney)</td>
                            <td align='center'>@(item.ManageName)</td>
                            <td align='center'>@(item.PayName)</td>
                            <td align='center'>@(item.Etc)</td>
                            <td align='center'>@(item.PayTime)</td>
                            <td align='center'>@(item.LockFlag == "01" ? "已锁定" : "")</td>
                        </tr>                    
                    }

                </tbody>
            </table>

            <div id="pages">
                @Html.Pager(Model, new PagerOptions { PageIndexParameterName = "page", CurrentPagerItemWrapperFormatString = "<span class=\"curpage\">{0}</span>", NumericPagerItemWrapperFormatString = "<span class=\"item\">{0}</span>", CssClass = "pages", AutoHide = false, SeparatorHtml = "" })
            </div>
        </div>
    </div>
</form>

