@{
    ViewBag.Title = "PayReport";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}
@model PagedList<Bus.Data.PayView>
@section HeadScript{
    <script language="javascript" type="text/javascript" src="/Content/admin/js/formvalidator.js" charset="UTF-8"></script>
    <script language="javascript" type="text/javascript" src="/Content/admin/js/formvalidatorregex.js" charset="UTF-8"></script>
    <script type="text/javascript" src="/Content/layer/layer.min.js?v=1.6.0"></script>
    <script language="JavaScript" type="text/javascript" src="/Content/My97DatePicker/WdatePicker.js"></script>

    <!-- 日历控件 -->
    <script src="/Content/admin/js/calendar/jquery.jdpicker.js" type="text/javascript"></script>
    <link type="text/css" href="/Content/admin/js/calendar/jdpicker.css" rel="stylesheet"></link>
    <link type="text/css" href="/Content/admin/js/calendar/style.css" rel="stylesheet"></link>

    <script type="text/javascript">

        function GoSearch() {
            var LineName = $("#LineName").val();//线路
            var PayTime1 = $("#PayTime1").val();//查询期间1
            var PayTime2 = $("#PayTime2").val();//查询期间2
            var LockFlag = $("#LockFlag").val();//状态
            var MangerID = $("#MangerID").val();//经手人
            var PayType = $("#PayType").val();//收款方式
            var PayMoney1 = $("#PayMoney1").val();//金额区间1
            var PayMoney2 = $("#PayMoney2").val();//金额区间2

            var u = "PayReport?LineName=" + LineName + "&PayTime1=" + PayTime1 + "&PayTime2=" + PayTime2 +
                    "&LockFlag=" + LockFlag + "&MangerID=" + MangerID + "&PayType=" + PayType +
                    "&PayMoney1=" + PayMoney1 + "&PayMoney2=" + PayMoney2;
            window.location.href = u;
        }

        //导出Excel
        function ToExcel() {
            var url = "@(Request.Url)";
            url = url.replace("PayReport", "ToExcelReport");
            window.location.href = url;
        }

        function LockPay() {
            if (confirm("确定要锁定此" + @(Model.Count) + "条缴费记录吗")) {
                $.ajax({
                    type: "POST",
                    dataType: "json",
                    url: "PayLock",
                    data: $('#myform').serialize(),// 你的formid
                    async: false,
                    error: function (request) {
                        alert("Connection error");
                    },
                    success: function (data) {
                        if (data.success) {
                            alert("锁定成功");
                            //刷新
                            window.location.reload();
                        }
                        else {
                            alert("系统异常，操作不成功。");
                        }
                    }
                });
            }
        }

    </script>
}

<style type="text/css">
    html {
        _overflow-y: scroll;
    }
</style>

<form name="myform" id="myform" action="@(Request.Url)" method="post">
    @{var pList = Bus.Data.SysCodeDB.SysCodeList("PAYT");}
    @{var mList = Bus.Data.ManagerDB.ManagerList();}
    @{var manager = Bus.Web.Controllers.AdminController.LoginManger();
      var managerType = manager.ManagerType;}

    <table width="100%" cellspacing="0" class="search-form">
        <tbody>
            <tr>
                <td>
                    <div class="explain-col" style="line-height: 33px;">
                        <table width="100%" cellspacing="0">
                            @{ var LineName = TheCMS.Common.iRequest.GetQueryString("LineName");}
                            @{ var PayTime1 = TheCMS.Common.iRequest.GetQueryString("PayTime1");}
                            @{ var PayTime2 = TheCMS.Common.iRequest.GetQueryString("PayTime2");}
                            @{ var LockFlag = TheCMS.Common.iRequest.GetQueryString("LockFlag");}
                            @{ var MangerID = TheCMS.Common.iRequest.GetQueryString("MangerID");}
                            @{ var PayType = TheCMS.Common.iRequest.GetQueryString("PayType");}
                            @{ var PayMoney1 = TheCMS.Common.iRequest.GetQueryString("PayMoney1");}
                            @{ var PayMoney2 = TheCMS.Common.iRequest.GetQueryString("PayMoney2");}

                            <tr>
                                <td style="width: 150px">线路
                    <input type="text" id="LineName" name="LineName" value="@(LineName)" style="width:90px;"  class="input-text" />
                                </td>
                                <td style="width: 350px; text-align: left">
                                    <table>
                                        <tr>
                                            <td>查询期间</td>
                                            <td>
                                                <input type="text" id="PayTime1" name="PayTime1" value="@(PayTime1)" style="width:90px;" /></td>
                                            <td>&nbsp;&nbsp;-&nbsp;&nbsp;</td>
                                            <td>
                                                <input type="text" id="PayTime2" name="PayTime2" value="@(PayTime2)" style="width:90px;" />
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                                <td style="text-align: left">状态
                    <select id="LockFlag">
                        <option value="" @(LockFlag == "" ? " selected" : "")>全部</option>
                        <option value="00" @(LockFlag == "00" ? " selected" : "")>未锁定</option>
                        <option value="01" @(LockFlag == "01" ? " selected" : "")>已锁定</option>
                    </select>
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            @*仅管理员可见*@
                                    @if (managerType == "MNG")
                                    { 
                                        <div class="content-menu ib-a blue" style="float: right; margin-top: 0px; text-align: right;">
                                            <a href='javascript:LockPay();' class="on"><em>锁定缴费</em></a>&nbsp;
                                    <a href='javascript:ToExcel();' class="on"><em>导出</em></a>&nbsp;<br />
                                        </div>
                                    }
                                </td>


                                @*<input type="button" id="Lock" name="Lock" class="button" onclick="LockPay()" value="锁定缴费">
                        <input type="button" name="OutPut" class="button" onclick="ToExcel()" value="导出">*@
                                @*<br />*@
                            </tr>
                            <tr>
                                <td colspan="3">经手人 
                    <select id="MangerID" name="MangerID">
                        <option value="0">请选择</option>
                        @foreach (var item in mList)
                        {
                            <option value="@(item.ID)"  @(Model != null ? item.ID.ToString() == MangerID ? " selected" : "" : "")>@(item.RealName)</option>
                        }
                    </select>
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        收款方式 
                    <select id="PayType" name="PayType">
                        <option value="0">请选择</option>
                        @foreach (var item in pList)
                        {
                            <option value="@(item.Keys)" @(Model != null ? item.Keys == PayType ? " selected" : "" : "")>@(item.Names)</option>
                        }
                    </select>
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        金额区间
                    <input type="text" id="PayMoney1" name="PayMoney1" value="@(PayMoney1)" style="width:90px;"  class="input-text" />
                                    -
                    <input type="text" id="PayMoney2" name="PayMoney2" value="@(PayMoney2)" style="width:90px;"  class="input-text" />
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    
                        <div class="content-menu ib-a blue" style="float: right; margin-top: 0px; text-align: right;">

                            <a href='javascript:GoSearch();' class="on"><em>查询</em></a>&nbsp;
                        </div>
                                </td>
                            </tr>
                        </table>
                    </div>
                </td>
            </tr>
        </tbody>

    </table>

    <div class="pad_10">
        <div class="bk10"></div>
        <div class="table-list">

            <table width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th align='center' width="90">线路信息</th>
                        <th align='center' width="45">类型</th>
                        <th align='center' width="90">姓名</th>
                        <th align='center' width="45">性别</th>
                        <th align="center" width="120">电话</th>
                        <th align='center' width="120">缴费期间(始)</th>
                        <th align='center' width="120">缴费期间(末)</th>
                        <th align='center' width="90">金额</th>
                        <th align='center' width="90">经手人</th>
                        <th align='center' width="90">收款方式</th>
                        <th align='center' width="120">备注</th>
                        <th align='center' width="140">缴费时间</th>
                        <th align='center' width="90">状态</th>
                    </tr>
                </thead>


                <tbody>
                    @if (Model.Count == 0)
                    { 
                        <tr>
                            <td colspan="9">没有任何数据</td>
                        </tr>
                    }
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td align='center'>@(item.LineName)</td>
                            <td align='center'>@(item.RideType)</td>

                            @*车长或管理员权限才有链接*@
                            @if (managerType == "USM" || managerType == "MNG")
                            { 
                                <td align='center' style="cursor: pointer; text-decoration: underline;" onclick="@*ShowNames('@(item.Names)','@(item.ID)')*@">
                                    @(item.Names)
                                </td>
@*<td align='center'><a href="javascript:;;" onclick="ShowNames('@(item.Names)','@(item.ID)')" style="font-weight:bold;">@(item.Names)</a></td>*@
                            }
                            else
                            {
                                <td align='center'>@(item.Names)</td>
                            }

                            <td align='center'>@(item.Sex == 1 ? "女" : item.Sex == 2 ? "男" : "")</td>

                            @*监察者权限，不显示电话号*@
                            @if (managerType == "MOT")
                            { 
                                <td align='center'></td>
                            }
                            else
                            {
                                <td align='center'>@(item.Phone)</td>
                            }

                            <td align='center'>@(item.StartDate.ToString("yyyy.MM.dd"))</td>
                            <td align='center'>@(item.EndDate.ToString("yyyy.MM.dd"))</td>
                            <td align='center'>
                                @{var PayMoney = item.PayMoney.ToString();}
                                @(PayMoney.IndexOf(".") > 0 ? PayMoney.Remove(PayMoney.IndexOf(".")) : "")
                            </td>
                            <td align='center'>@(item.ManageName)</td>
                            <td align='center'>@(item.PayName)</td>
                            <td align='center'>@(item.Etc)</td>
                            <td align='center'>@(item.PayTime.ToString("yyyy.MM.dd"))</td>
                            <td align='center'>@(item.LockFlag == "01" ? "已锁定" : "")</td>
                        </tr>                    
                    }

                </tbody>
                @*                @using (Html.BeginForm("PayLock", "Admin"))//ActionName，ControllerName
                {
                    for (int i = 0; i < Model.Count; i++)
                    {
                    <tr style="height:0px;">
                        <td style="height:0px;">@Html.HiddenFor(x => x[i].ID)</td>
                        <td>@Html.HiddenFor(x => x[i].LineName)</td>
                        <td>@Html.HiddenFor(x => x[i].RideType)</td>
                        <td>@Html.HiddenFor(x => x[i].Names)</td>
                        <td>@Html.HiddenFor(x => x[i].Sex)</td>
                        <td>@Html.HiddenFor(x => x[i].Phone)</td>
                        <td>@Html.HiddenFor(x => x[i].StartDate)</td>
                        <td>@Html.HiddenFor(x => x[i].EndDate)</td>
                        <td>@Html.HiddenFor(x => x[i].PayMoney)</td>
                        <td>@Html.HiddenFor(x => x[i].ManageName)</td>
                        <td>@Html.HiddenFor(x => x[i].PayName)</td>
                        <td>@Html.HiddenFor(x => x[i].Etc)</td>
                        <td>@Html.HiddenFor(x => x[i].PayTime)</td>
                        <td>@Html.HiddenFor(x => x[i].LockFlag)</td>
                    </tr>
                    }
                }*@
            </table>

            <div id="pages">
                @Html.Pager(Model, new PagerOptions { PageIndexParameterName = "page", CurrentPagerItemWrapperFormatString = "<span class=\"curpage\">{0}</span>", NumericPagerItemWrapperFormatString = "<span class=\"item\">{0}</span>", CssClass = "pages", AutoHide = false, SeparatorHtml = "" })
            </div>
        </div>
    </div>
    <script type="text/javascript">
        $('#PayTime1').jdPicker();
        $('#PayTime2').jdPicker();
    </script>
</form>

