@{
    ViewBag.Title = "PayReport";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}
@model PagedList<Bus.Data.PayView>
    <script type="text/javascript" src="/Content/layer-v1.8.4/layer/layer.min.js"></script>
    <script type="text/javascript" src="/Content/My97DatePicker/WdatePicker.js"></script>

    <!-- 日历控件 -->
    <script src="/Content/admin/js/calendar/jquery.jdpicker.js" type="text/javascript"></script>
    <link type="text/css" href="/Content/admin/js/calendar/jdpicker.css" rel="stylesheet"></link>
    <link type="text/css" href="/Content/admin/js/calendar/style.css" rel="stylesheet"></link>

    <script type="text/javascript">

        function GoSearch() {
            var LineName;

            if ($("#ManagerType").val() != "MOT") {
                LineName = $("#LineName").val();//线路
            } else {
                LineName = $("#Line").val();//监察员线路
            }
            var PayTime1 = $("#PayTime1").val();//查询期间1
            var PayTime2 = $("#PayTime2").val();//查询期间2
            var LockFlag = $("#LockFlag").val();//状态
            var MangerID = $("#MangerID").val();//经手人
            var PayType = $("#PayType").val();//收款方式
            var PayMoney1 = $("#PayMoney1").val();//金额区间1
            var PayMoney2 = $("#PayMoney2").val();//金额区间2
            var PayTime = $("#PayTime").val();//缴费月份

            var u = "PayReport?LineName=" + LineName + "&PayTime1=" + PayTime1 + "&PayTime2=" + PayTime2 +
                    "&LockFlag=" + LockFlag + "&MangerID=" + MangerID + "&PayType=" + PayType +
                    "&PayMoney1=" + PayMoney1 + "&PayMoney2=" + PayMoney2 + "&PayTime=" + PayTime;
            window.location.href = u;
        }

        //导出Excel
        function ToExcel() {
            var url = "@(Request.Url)";
            url = url.replace("PayReport", "ToExcelReport");
            window.location.href = url;
        }

        function LockPay() {
            if (confirm("确定要锁定此" + @(Model.Count) + "条缴费记录吗")) {
                $.ajax({
                    type: "POST",
                    dataType: "json",
                    url: "PayLock",
                    data: $('#myform').serialize(),// 你的formid
                    async: false,
                    error: function (request) {
                        alert("Connection error");
                    },
                    success: function (data) {
                        if (data.success) {
                            alert("锁定成功");
                            //刷新
                            window.location.reload();
                        }
                        else {
                            alert("系统异常，操作不成功。");
                        }
                    }
                });
            }
        }

        function openUsers(userID) {
            window.location.href = "/Admin/UsersMain?UserID=" + userID;
        }

        //车长修改会员页面
        function Users2Popup(UserID, UserName) {

            var param = "ID=" + UserID;
            var title = "修改会员[" + UserName + "]的信息";

            parent.$.layer({
                type: 2,
                title: title,
                iframe: { src: "/Admin/Users2?" + param },
                area: ['450px', '450px'],
                offset: ['30px', '']
            });
        }

        //居住地回调
        function setStartPos(lng, lat) {
            //alert("UsersMain.setStartPos");
            $("[id^='xubox_iframe']")[0].contentWindow.setStartPos(lng, lat);
        }
        //工作地回调
        function setEndPos(lng, lat) {
            $("[id^='xubox_iframe']")[0].contentWindow.setEndPos(lng, lat);
        }

    </script>


<style type="text/css">
    html {
        _overflow-y: scroll;
    }

    .auto-hide{ 
        table-layout: fixed;
    }
    .auto-hide td{
        cursor:pointer;
        overflow: hidden; text-overflow: ellipsis; white-space: nowrap;
    }
</style>

<form name="myform" id="myform" action="@(Request.Url)" method="post">
    @{var pList = Bus.Data.SysCodeDB.SysCodeList("PAYT");}
    @{var mList = Bus.Data.ManagerDB.ManagerList();}
    @{var manager = Bus.Web.Controllers.AdminController.LoginManger();
      var managerType = manager.ManagerType;
      var managerLineList = Bus.Data.ManagerLineDB.ListManagerLine(manager.ID);}
    <input type="hidden" name="ManagerType" id="ManagerType" value="@(managerType)" />
    <table width="100%" cellspacing="0" class="search-form" border="0" style="margin-bottom: 0px;">
        <tbody>
            <tr>
                <td>
                    <div class="explain-col">
                        <table width="100%" cellspacing="0" border="0">
                            @{ var LineName = TheCMS.Common.iRequest.GetQueryString("LineName");}
                            @{ var PayTime1 = TheCMS.Common.iRequest.GetQueryString("PayTime1");}
                            @{ var PayTime2 = TheCMS.Common.iRequest.GetQueryString("PayTime2");}
                            @{ var LockFlag = TheCMS.Common.iRequest.GetQueryString("LockFlag");}
                            @{ var MangerID = TheCMS.Common.iRequest.GetQueryString("MangerID");}
                            @{ var PayType = TheCMS.Common.iRequest.GetQueryString("PayType");}
                            @{ var PayMoney1 = TheCMS.Common.iRequest.GetQueryString("PayMoney1");}
                            @{ var PayMoney2 = TheCMS.Common.iRequest.GetQueryString("PayMoney2");}
                            @{ var PayTime = TheCMS.Common.iRequest.GetQueryString("PayTime");}

                            <tr>
                                <td style="width: 170px; text-align: left">
                                    缴费月份
                                    @{var now = DateTime.Now;
                                      now = now.AddMonths(1);}
                                    <select id="PayTime" name="PayTime">
                                        <option value="all" @(PayTime.ToString() == "all" ? " selected" : "")>全部月份</option>
                                        @for (var i = 0; i < 18; i++)
                                        {
                                            <option value="@(now.ToString("yyyy/MM/dd"))" @(PayTime == now.ToString("yyyy/MM/dd") ? " selected" : "") @(PayTime == ""&&i==1 ? " selected" : "")>
                                                @(now.ToString("yyyy年MM月"))
                                            </option>
                                            now = now.AddMonths(-1);
                                        }
                                    </select>
                                </td>
                                <td style="width: 160px">
                                    线路
                                    @if (managerType != "MOT") {
                                        <input type="text" id="LineName" name="LineName" value="@(LineName)" style="width:90px;"  class="input-text" />
                                    } else {
                                        <select name="Line" id="Line">
                                            <option value="0">请选择</option>
                                            @foreach (var item in managerLineList)
                                            {
                                                var busLineName = Bus.Data.BusLineDB.GETBusLineName(item.LineID);
                                                <option value="@(busLineName)" @(Model != null ? busLineName == LineName ? " selected" : "" : "")>@(busLineName)(@(item.LineID))</option>
                                            }
                                        </select>
                                    }
                                </td>
                                <td>
                                    <div style="float: left; padding-top: 2px!important;">
                                        经手人 
                                        <select id="MangerID" name="MangerID">
                                            <option value="0">请选择</option>
                                            @foreach (var item in mList)
                                            {
                                                <option value="@(item.ID)"  @(Model != null ? item.ID.ToString() == MangerID ? " selected" : "" : "")>@(item.RealName)</option>
                                            }
                                        </select>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                        收款方式 
                                        <select id="PayType" name="PayType">
                                            <option value="0">请选择</option>
                                            @foreach (var item in pList)
                                            {
                                                <option value="@(item.Keys)" @(Model != null ? item.Keys == PayType ? " selected" : "" : "")>@(item.Names)</option>
                                            }
                                        </select>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                        状态
                                        <select id="LockFlag">
                                            <option value="" @(LockFlag == "" ? " selected" : "")>全部</option>
                                            <option value="00" @(LockFlag == "00" ? " selected" : "")>未锁定</option>
                                            <option value="01" @(LockFlag == "01" ? " selected" : "")>已锁定</option>
                                        </select>
                                    </div>
                                    @*仅管理员可见*@
                                    @if (managerType == "MNG")
                                    { 
                                        <div class="content-menu ib-a blue" style="float: right; margin: 0; padding: 0; text-align: right;">
                                            <a href='javascript:LockPay();' class="on"><em>锁定缴费</em></a>&nbsp;
                                            <a href='javascript:ToExcel();' class="on"><em>导出</em></a>
                                        </div>
                                    }
                                </td>


                                @*<input type="button" id="Lock" name="Lock" class="button" onclick="LockPay()" value="锁定缴费">
                                  <input type="button" name="OutPut" class="button" onclick="ToExcel()" value="导出">*@
                                @*<br />*@
                            </tr>
                            <tr>
                                <td colspan="2">
                                    <table>
                                        <tr>
                                            <td>缴费时间&nbsp;</td>
                                            <td>
                                                <input type="text" id="PayTime1" name="PayTime1" value="@(PayTime1)" style="width:90px;" /></td>
                                            <td>&nbsp;&nbsp;-&nbsp;&nbsp;</td>
                                            <td>
                                                <input type="text" id="PayTime2" name="PayTime2" value="@(PayTime2)" style="width:90px;" />
                                            </td>
                                        </tr>
                                    </table>
                                 </td>
                                <td>
                                    <div style="float: left;  padding-top: 1px; padding-top: 2px!important;"> 
                                        金额区间
                                        <input type="text" id="PayMoney1" name="PayMoney1" value="@(PayMoney1)" style="width:90px;"  class="input-text" />
                                        -&nbsp;
                                        <input type="text" id="PayMoney2" name="PayMoney2" value="@(PayMoney2)" style="width:90px;"  class="input-text" />
                                    </div>
                                    <div class="content-menu ib-a blue" style="float: right; margin: 0; padding: 0; text-align: right;">
                                        <a href='javascript:GoSearch();' class="on"><em>查询</em></a>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>


    <div class="pad_10">
    @{var payAll = Model.Count>0?Model[0].payALL:"";
      payAll = payAll.IndexOf(".") > 0 ? payAll.Remove(payAll.IndexOf(".")) : "0";}
    <div style="height:20px;"><div style="height:20px; float:right;color:red;font-weight:600;">[缴费总额：@(payAll)元 / 数据条数：@(Model.TotalItemCount)条]</div></div>

    <div class="table-list">

        <table id="PayReport" width="100%" cellspacing="0" class="auto-hide">
            <thead>
                <tr>
                    <th align='center' width="60">线路信息</th>
                    <th align='center' width="45">类型</th>
                    <th align='center' width="45">姓名</th>
                    <th align='center' width="45">性别</th>
                    <th align="center" width="90">电话</th>
                    <th align='center' width="90">缴费期间(始)</th>
                    <th align='center' width="90">缴费期间(末)</th>
                    <th align='center' width="45">金额</th>
                    <th align='center' width="90">经手人</th>
                    <th align='center' width="90">收款方式</th>
                    <th align='center' width="60">备注</th>
                    <th align='center' width="90">缴费时间</th>
                    <th align='center' width="45">状态</th>
                </tr>
            </thead>


            <tbody>
                @if (Model.Count == 0)
                { 
                    <tr>
                        <td colspan="9">没有任何数据</td>
                    </tr>
                }
                @foreach (var item in Model)
                {
                    <tr>
                        <td align='center'>@(item.LineName)</td>
                        <td align='center'>
                            @(item.RideType == "MO" ? "早单程" :
                            item.RideType == "AF" ? "晚单程" :
                            item.RideType == "MA" ? "全程" :
                            item.RideType == "CN" ? "次卡" : "")
                        </td>

                        @*车长或管理员权限才有链接*@
                        @if (managerType == "USM")
                        { 
                            <td align='center' style="cursor: pointer; text-decoration: underline;" onclick="Users2Popup('@(item.UserID)','@(item.Names)')">
                                @(item.Names)
                            </td>
                        }
                        else if(managerType == "MNG")
                        {
                            <td align='center' style="cursor: pointer; text-decoration: underline;" onclick="openUsers('@(item.UserID)');">
                                @(item.Names)
                            </td>
                        }
                        else
                        {
                            <td align='center'>@(item.Names)</td>
                        }

                        <td align='center'>@(item.Sex == 1 ? "女" : item.Sex == 2 ? "男" : "")</td>

                        @*监察者权限，不显示电话号*@
                        @if (managerType == "MOT")
                        { 
                            <td align='center'></td>
                        }
                        else
                        {
                            <td align='center'>@(item.Phone)</td>
                        }

                        <td align='center'>@(item.StartDate.ToString("yyyy.MM.dd"))</td>
                        <td align='center'>@(item.EndDate.ToString("yyyy.MM.dd"))</td>
                        <td align='center'>
                            @{var PayMoney = item.PayMoney.ToString();}
                            @(PayMoney.IndexOf(".") > 0 ? PayMoney.Remove(PayMoney.IndexOf(".")) : "")
                        </td>
                        <td align='center'>@(item.ManageName)</td>
                        <td align='center'>@(item.PayName)</td>
                        <td align='center'>@(item.Etc)</td>
                        <td align='center'>@(item.PayTime.ToString("yyyy.MM.dd"))</td>
                        <td align='center'>@(item.LockFlag == "01" ? "已锁定" : "")</td>
                    </tr>                    
                }

            </tbody>
            @*                @using (Html.BeginForm("PayLock", "Admin"))//ActionName，ControllerName
            {
                for (int i = 0; i < Model.Count; i++)
                {
                <tr style="height:0px;">
                    <td style="height:0px;">@Html.HiddenFor(x => x[i].ID)</td>
                    <td>@Html.HiddenFor(x => x[i].LineName)</td>
                    <td>@Html.HiddenFor(x => x[i].RideType)</td>
                    <td>@Html.HiddenFor(x => x[i].Names)</td>
                    <td>@Html.HiddenFor(x => x[i].Sex)</td>
                    <td>@Html.HiddenFor(x => x[i].Phone)</td>
                    <td>@Html.HiddenFor(x => x[i].StartDate)</td>
                    <td>@Html.HiddenFor(x => x[i].EndDate)</td>
                    <td>@Html.HiddenFor(x => x[i].PayMoney)</td>
                    <td>@Html.HiddenFor(x => x[i].ManageName)</td>
                    <td>@Html.HiddenFor(x => x[i].PayName)</td>
                    <td>@Html.HiddenFor(x => x[i].Etc)</td>
                    <td>@Html.HiddenFor(x => x[i].PayTime)</td>
                    <td>@Html.HiddenFor(x => x[i].LockFlag)</td>
                </tr>
                }
            }*@
        </table>

        <div id="pages">
            @Html.Pager(Model, new PagerOptions { PageIndexParameterName = "page", CurrentPagerItemWrapperFormatString = "<span class=\"curpage\">{0}</span>", NumericPagerItemWrapperFormatString = "<span class=\"item\">{0}</span>", CssClass = "pages", AutoHide = false, SeparatorHtml = "" })
        </div>
    </div>
    <script type="text/javascript">
        $('#PayTime1').jdPicker();
        $('#PayTime2').jdPicker();

        $("#PayReport td").mouseover(function (e) {
            if ($.trim($(this).text()) != "") {
                layer.tips($(this).text(), this, { guide: 1, time: 2 });
            }
        });

        $("input,select").keyup(function (event) {
            if (event.keyCode == 13) {
                GoSearch();
            }
        });
    </script>
</form>

