@{
    ViewBag.Title = "Users";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

@model Bus.Data.Users
@section HeadScript{
<script language="javascript" type="text/javascript" src="/Content/admin/js/formvalidator.js" charset="UTF-8"></script>
<script language="javascript" type="text/javascript" src="/Content/admin/js/formvalidatorregex.js" charset="UTF-8"></script>
<script language="javascript" type="text/javascript" src="/Content/admin/js/input_validator.js" charset="UTF-8"></script>
<script type="text/javascript" src="/Content/layer-v1.8.4/layer/layer.min.js"></script>

<script type="text/javascript">
    function doSubmit() {
        if (!checkInput()) {
            return;
        }
        $.ajax({
            type: "POST",
            dataType: "json",
            url: '@(TheCMS.Common.iRequest.GetUrl())',
            data: $('#myform').serialize(),// 你的formid
            async: false,
            error: function (request) {
                alert("Connection error");
            },
            success: function (data) {
                if (data.success) {
                    alert("保存成功");
                    //刷新
                    parent.window.location.href = "UsersMain?UserID=" + data.message;
                }
                else {
                    alert("系统异常，操作不成功。");
                }
            }
        });
    }

    //设置地图标记按钮样式
    function setPosBtnStyle(btnName, hasValueFlag) {
        if (hasValueFlag) {
            //有值情况
            $("#" + btnName).css("color", "blue");
            $("#" + btnName).val("已标地图");
        } else {
            $("#" + btnName).css("color", "red");
            $("#" + btnName).val("未标地图");
        }
    }

    //地图标注
    function OpenMap(callBack, index) {
        
        var width = $(window.parent.parent).width() - 200;
        var height = $(window.parent.parent).height() - 100;

        var langlat = "&lng1=" + $("#StartLong").val() + "&lat1=" + $("#StartLat").val()
                    + "&lng2=" + $("#EndLong").val() + "&lat2=" + $("#EndLat").val();

        var title = "请标注用户的【居住地】！";
        if (index == "2") title = "请标注用户的【工作地】！";

        parent.parent.$.layer({
            type: 2,
            title: title,
            iframe: { src: '/admin/soMap?callback=' + callBack + langlat + "&index=" + index },
            area: [width + "px", height + 'px'],
            offset: ['40px', '']
        });
    }


    //居住地回调
    function setStartPos(lng, lat) {
        
        $("#StartLong").val(lng);
        $("#StartLat").val(lat);

        setPosBtnStyle("startBtn", true);
    }

    //工作地回调
    function setEndPos(lng, lat) {
        $("#EndLong").val(lng);
        $("#EndLat").val(lat);

        setPosBtnStyle("endBtn", true);
    }

    //重新加载
    function reloadMe() {
        window.location.href = "@(Request.Url)";
    }
</script>
}
<style type="text/css">
    html {
        _overflow-y: scroll;
    }
    th{
        background-color:#f0f0f0;border-bottom-color:#e2e3e3;
    }
    *.left-marginal {position:relative; margin-left:200px;}
    *.marginal-heading {position:absolute; left:-200px; top:0; margin:0}
</style>

<div style="height:30px;">
    <div style="float:left;padding:5px 0 0 5px;">
        [会员基本信息]
        @if (Model != null && Model.DelFlag == "Y") 
        {
            <font style="color:red;font-weight:800;font-size:medium;">
                &nbsp;&nbsp;&nbsp;***此会员已被删除***
            </font>
        }
    </div>
    <div class="content-menu ib-a blue" style="padding-right:10px; float:right;">
        <a href='javascript:doSubmit();' class="on"><em>保存</em></a><span></span>
        <a href='javascript:reloadMe();' class="on"><em>取消</em></a>
    </div>
</div>


<form name="myform" id="myform" action="@(Request.Url)">
    @*<input type="hidden" value="@(Model != null ? Model.ID : 0)" />*@
    <div class="common-form">
        
        <table width="100%" class="table_form contentWrap">
            <tbody>
                <tr style="border-top:1px solid #EEE;">
                    <th style="width:60px;"><span style="color:red;">*</span><span style="font-weight:700;">姓名：</span></th>
                    <td colspan="3">
                        <input type="text" name="Names" style="width:160px;" value ="@(Model != null ? Model.Names : "")" id="Names" class="input-text" placeholder="输入后回车搜索" required/>
                        &nbsp;&nbsp;&nbsp;&nbsp;
                        @(Model != null ? Model.CreateTime!=null? "注册时间："+Model.CreateTime.ToString("yyyy.MM.dd HH:mm") : "": "")
                    </td>
                </tr>

                <tr style="border-top:1px solid #EEE;">
                    <th style="width:60px;"><span style="color:red;">*</span><span style="font-weight:700;">电话：</span></th>
                    <td colspan="3"> 
                        <input type="text" name="Phone" style="width:160px;" value="@(Model != null ? Model.Phone : "")" id="Phone" class="input-text" placeholder="输入后回车搜索" required/>
                        &nbsp;&nbsp;&nbsp;&nbsp;
                        <input type="checkbox" id="PhoneFlagChk" value="Y" @(Model!=null && Model.PhoneFlag == "Y"? " checked" : "")/><label for="PhoneFlagChk"> 已确认</label>
                        <input type="hidden" id="PhoneFlag" name="PhoneFlag"  value='@(Model!=null? Model.PhoneFlag : "")' />
                    </td>
                </tr>

                <tr>
                    @{var manager = Bus.Web.Controllers.AdminController.LoginManger();
                      var managerType = manager.ManagerType;}
                    <th style="width:60px;"><span style="color:red;">*</span>性别：</th>
                    <td colspan="@(managerType!="MNG"? 3: 1)">
                        <input type="radio" name="Sex" id="Sex1" value="1" @(Model != null && Model.Sex==1 ? " checked" : "") required/><label for="Sex1"> 女 </label>
                        <input type="radio" name="Sex" id="Sex2" value="2" @(Model != null && Model.Sex==2 ? " checked" : "") /><label for="Sex2"> 男 </label>
                         @if (managerType != "MNG")
                         {
                             <input type="hidden" name="Password" value ="@(Model != null ? Model.Password : "")" />
                         }
                    </td>
                    @if (managerType == "MNG")
                    { 
                        <th style="width:60px;"><span style="color:red;">*</span>密码：</th>
                        <td> 
                            <input type="text" name="Password" style="width:120px;" value="@(Model != null ? Model.Password : "")" id="Password" class="input-text" required/>
                        </td>
                    }
                </tr>

                <tr>
                    <th style="width:60px;">卡号一：</th>
                    <td colspan="3"> 
                        <input type="text" name="CardNo" style="width:300px;" value="@(Model != null ? Model.CardNo : "")" id="CardNo" class="input-text"/>
                    </td>
                </tr>
                <tr>
                    <th style="width:60px;">卡号二：</th>
                    <td colspan="3"> 
                        <input type="text" name="CardNo2" style="width:300px;" value="@(Model != null ? Model.CardNo2 : "")" id="CardNo2" class="input-text"/>
                    </td>
                </tr>

                <tr>
                    <th><span style="color:red;">*</span>上班时：</th>
                    <td>
                        @{var startTime = Model == null ? "": Model.StartTime.ToString("HH:mm");}
                        <select id="StartTime" name="StartTime" required>
                            <option value="" >请选择</option>
                            <option value="07:30" @((Model != null && startTime == "07:30")?" selected":"")>7:30</option>
                            <option value="08:00" @((Model != null && startTime == "08:00")?" selected":"")>8:00</option>
                            <option value="08:30" @((Model != null && startTime == "08:30")?" selected":"")>8:30</option>
                            <option value="09:00" @((Model != null && startTime == "09:00")?" selected":"")>9:00</option>
                            <option value="09:30" @((Model != null && startTime == "09:30")?" selected":"")>9:30</option>
                        </select>
                    </td>
                    <th><span style="color:red;">*</span>下班时：</th>
                    <td>
                        @{var endTime = Model == null ? "": Model.EndTime.ToString("HH:mm");}
                        <select id="EndTime" name="EndTime" required>
                            <option value="" >请选择</option>
                            <option value="16:30" @((Model != null && endTime =="16:30")?" selected":"")>16:30</option>
                            <option value="17:00" @((Model != null && endTime =="17:00")?" selected":"")>17:00</option>
                            <option value="17:30" @((Model != null && endTime =="17:30")?" selected":"")>17:30</option>
                            <option value="18:00" @((Model != null && endTime =="18:00")?" selected":"")>18:00</option>
                            <option value="18:30" @((Model != null && endTime =="18:30")?" selected":"")>18:30</option>
                            <option value="19:00" @((Model != null && endTime =="19:00")?" selected":"")>19:00</option>
                            <option value="20:00" @((Model != null && endTime =="20:00")?" selected":"")>20:00</option>
                            <option value="21:00" @((Model != null && endTime =="21:00")?" selected":"")>21:00</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <th>公司：</th>
                    <td colspan="3"><input type="text" style="width:300px;" name="CompanyName" value="@(Model != null ? Model.CompanyName : "")" id="CompanyName" class="input-text" /></td>
                </tr>
                <tr>
                    <th>居住地：</th>
                    <td colspan="3">
                        <input type="text" name="AddressSel" style="width:300px;" value="@(Model != null ? Model.AddressSel : "")" id="AddressSel" readonly="readonly" class="input-text" />
                    </td>
                </tr>
                <tr>
                    <th>详细：</th>
                    <td colspan="2">
                        <input type="text" name="Address" style="width:200px;" value="@(Model != null ? Model.Address : "")" id="Address" class="input-text" />
                    </td>
                    <td>
                        <div style="background-image: url(/Content/images/markers.png); border: 0px; width: 23px; height: 25px; background-position:0px -20px; float: left;" ></div>
                        <input type="button" id="startBtn" style="cursor:pointer;color:blue;" onclick="OpenMap('setStartPos', '1');" value="未标地图"/>
                        <input type="hidden" id="StartLong" name="StartLong" value ="@(Model != null ? Model.StartLong : 0)" />
                        <input type="hidden" id="StartLat" name="StartLat" value="@(Model != null ? Model.StartLat : 0)" />
                    </td>
                </tr>
                <tr>
                    <th>工作地：</th>
                    <td colspan="3"> 
                        <input type="text" name="EndAddressSel" style="width:300px;" value="@(Model != null ? Model.EndAddressSel : "")" id="EndAddressSel" readonly="readonly" class="input-text" />
                    </td>
                </tr>
                <tr>
                    <th>详细：</th>
                    <td colspan="2">
                        <input type="text" name="EndAddress" style="width:200px;" value="@(Model != null ? Model.EndAddress : "")" id="EndAddress" class="input-text" />
                    </td>
                    <td> 
                        <div style="background-image: url(/Content/images/markers.png); border: 0px; width: 23px; height: 25px; background-position:-46px -20px; float: left;" ></div>
                        <input type="button" id="endBtn" style="cursor:pointer;color:red;" onclick="OpenMap('setEndPos', '2');" value="未标地图">
                        <input type="hidden" id="EndLong" name="EndLong" value ="@(Model != null ? Model.EndLong : 0)" />
                        <input type="hidden" id="EndLat" name="EndLat" value="@(Model != null ? Model.EndLat : 0)" />
                    </td>
                </tr>

                <tr>
                    <th>QQ：</th>
                    <td><input type="text" name="QQ" style="width:100px;" value="@(Model != null ? Model.QQ : "")" id="QQ" class="input-text" /></td>
                    <th>邮箱：</th>
                    <td><input type="text" name="EMail" style="width:120px;"  value="@(Model != null ? Model.EMail : "")" id="EMail" class="input-text" /></td>
                </tr>

                <tr>
                    <th>状态：</th>
                    <td colspan="2">
                        @{var allstate = Bus.Data.UserStateDB.UserStateList();}
                        <select id="StateID" name="StateID">
                            <option value="0" @(Model!=null&&Model.StateID==0?" selected":"")>请选择</option>
                            @foreach (var item in allstate)
                            {
                                <option value="@(item.ID)" @(Model!=null&&Model.StateID==item.ID?" selected":"")>@(item.StateName)</option>
                            }
                        </select>
                    </td>
                    <td>
                        <input type="checkbox" id="UserTypeChk" value="LMNG" @(Model!=null && Model.UserType == "LMNG"? " checked" : "")/><label for="UserType"> 车长</label>
                        <input type="hidden" id="UserType" name="UserType"  value='@(Model!=null? Model.UserType : "USER")' />
                    </td>
                </tr>
                <tr>
                    <th>备注：</th>
                    <td colspan="3">  
                        <textarea rows ="2" cols="45" name="Etc">@(Model != null ? Model.Etc: "")</textarea>
                    </td>
                </tr>
            </tbody>
        </table>
        <!--table_form_off-->

</div>
<div class="bk15"></div>

    <script type="text/javascript">
        //初始化地图标记按钮样式
        function initButtonStyle() {
            if ($("#StartLong").val() != "0") {
                setPosBtnStyle("startBtn", true);
            } else {
                setPosBtnStyle("startBtn", false);
            }

            if ($("#EndLong").val() != "0") {
                setPosBtnStyle("endBtn", true);
            } else {
                setPosBtnStyle("endBtn", false);
            }
        }
        initButtonStyle();

        //多选框事件
        function initUserTypeChk() {
            $("#UserTypeChk").click(function () {
                if ($(this).prop("checked")) {
                    $("#UserType").val($(this).val());
                } else {
                    $("#UserType").val("USER");
                }
            })
        }
        initUserTypeChk();

        function initPhoneFlagChk() {
            $("#PhoneFlagChk").click(function () {
                if ($(this).prop("checked")) {
                    $("#PhoneFlag").val($(this).val());
                } else {
                    $("#PhoneFlag").val("");
                }
            })
        }
        initPhoneFlagChk();


        //通过姓名  或者  电话 取得人员信息
        function getUserInfor(Names, Phone) {
            var param = "Names=" + Names + "&Phone=" + Phone;

            $.ajax({
                type: "POST",
                dataType: "json",
                url: 'UserSelect',
                data: param,// 你的formid
                async: false,
                error: function (request) {
                    alert("系统异常，操作不成功。");
                },
                success: function (data) {
                    if (data.message == "NoBody") {
                        //查不到人什么都不做
                        return;
                    } else if (data.message == "MutiBody") {
                        //多个人的时候，弹出页面选择
                        var h = $(window).height() - 20;
                        var w = $(window).width() - 50;

                        parent.$.layer({
                            type: 2,
                            title: "请双击您要选择的会员",
                            iframe: { src: "/admin/UsersPopup?" + param },
                            area: ['300px', '200px'],
                            offset: ['60px', '']
                        });
                    } else {
                        //只有一个人时，刷新页面显示此人的人员卡片
                        parent.window.location.href = "UsersMain?UserID=" + data.message;
                    }
                }
            });
        }
        //姓名 电话 回车
        //只有在人员卡片页面中，此功能才有效果
        function initNamesPhoneEnter() {

            //alert(parent.frameElement.contentWindow);

            $("#Names").keyup(function (event) {
                //alert(event.keyCode);
                if (event.keyCode == 13) {
                    if ($.trim($("#Names").val()) == "") {
                        return;
                    }
                    //
                    getUserInfor($("#Names").val(), "");
                }
            });

            $("#Phone").keyup(function (event) {
                if (event.keyCode == 13) {
                    if ($.trim($("#Phone").val()) == "") {
                        return;
                    }
                    getUserInfor("", $("#Phone").val());
                }
            })
        }
        initNamesPhoneEnter();

        //地址选择页面
        //传入text框的对象[this]
        function addrPopup(obj) {
            var width = $(window).width() - 30;
            //var height = $(window).height() - 100;

            var url = "/admin/AddressChooser?callback="+ $(obj).prop("id") +"&address=" + $(obj).val()
            $.layer({
                type: 2,
                title: '请选择地址',
                iframe: { src: url },
                area: [width + "px", '200px'],
                offset: ['40px', '']
            });
        }

        //地址选择器
        function initAddressSelector() {
            $("#AddressSel").focus(function (event) {
                addrPopup($(this))
            });
            $("#EndAddressSel").focus(function (event) {
                addrPopup($(this))
            });
        }
        initAddressSelector();
    </script>
</form>


