@{
    ViewBag.Title = "UsersList";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

@model List<Bus.Data.Users>
<script type="text/javascript" src="/Content/layer/layer.min.js?v=1.6.0"></script>
 <script type="text/javascript">
     function OpenMap(v) {
         $.layer({
             type: 2,
             title: '根据地图位置搜索用户。',
             iframe: { src: 'soMap' },
             area: ['920px', '720px'],
             offset: ['30px', '']
         });
     }
 </script>
<div class="subnav">
    <div class="content-menu ib-a blue line-x">
        <a href='javascript:;;'><em>搜索用户</em></a><span>|</span><a href="UsersList" class="on"><em>查看所有用户</em></a>
    </div>
</div>
<style type="text/css">
	html{_overflow-y:scroll}
</style>
<form action="UsersList2" method="get">
<table width="100%" cellspacing="0" class="search-form">
    <tbody>
		<tr>
		<td>
		<div class="explain-col">
				
@*				注册时间：
				<link rel="stylesheet" type="text/css" href="/Content/admin/js/calendar/jscal2.css">
			<link rel="stylesheet" type="text/css" href="/Content/admin/js/calendar/border-radius.css">
			<link rel="stylesheet" type="text/css" href="/Content/admin/js/calendar/win2k.css">
			<script type="text/javascript" src="/Content/admin/js/calendar/calendar.js"></script>
			<script type="text/javascript" src="/Content/admin/js/calendar/lang/en.js"></script><input type="text" name="start_time" id="start_time" value="" size="10" class="date input-text">&nbsp;<script type="text/javascript">
			Calendar.setup({
			weekNumbers: true,
		    inputField : "start_time",
		    trigger    : "start_time",
		    dateFormat: "%Y-%m-%d",
		    showTime: false,
		    minuteStep: 1,
		    onSelect   : function() {this.hide();}
			});
        </script>-
				<input type="text" name="end_time" id="end_time" value="" size="10" class="date input-text">&nbsp;<script type="text/javascript">
			Calendar.setup({
			weekNumbers: true,
		    inputField : "end_time",
		    trigger    : "end_time",
		    dateFormat: "%Y-%m-%d",
		    showTime: false,
		    minuteStep: 1,
		    onSelect   : function() {this.hide();}
			});
        </script>*@
            @{var stateid = TheCMS.Common.iRequest.GetQueryInt("StateID", -1);}
            <select id="StateID" name="StateID">
                <option value="-1" @(stateid==-1?" selected":"")>所有状态</option>
                @{var allslist = Bus.Data.UserStateDB.UserStateList();}
                @foreach(var item in allslist)
                {
                <option value="@(item.ID)" @(stateid==item.ID?" selected":"")>@(item.StateName)</option>
                } 
            </select>
            @{var StartLatLong = TheCMS.Common.iRequest.GetQueryString("StartLatLong");
              var EndLatLong = TheCMS.Common.iRequest.GetQueryString("EndLatLong");}
上班乘车：<input name="StartLatLong" id="StartLatLong" type="text" value="@(StartLatLong)" class="input-text"><a href="javascript:;;" onclick="OpenMap(1)"><font color="red">选择</font></a>
@*终点经纬度：<input name="EndLatLong" type="text" value="@(EndLatLong)" class="input-text"><a href="javascript:;;" onclick="OpenMap(2)"><font color="red">选择</font></a>*@
				<input type="submit" name="search" class="button" value="搜索">
	</div>
		</td>
		</tr>
    </tbody>
</table>
</form>
<div class="pad_10">

<div class="bk10"></div>
<div class="table-list">
<table width="100%" cellspacing="0" >
        <thead>
            <tr>
            <th width="50" align="left">ID</th>
                <th width="70" align="left">编号</th>
            <th align="left" width="60">姓名</th>
                <th width="40" align="left">性别</th> 
                <th width="90" align="left">电话号</th>
                <th width="90" align="left">邮箱</th>
                <th width="60" align="left">QQ</th>
                <th width="250" align="left">居住地（上车站）</th>
                <th width="180" align="left">公司名/楼号(下车站)</th>
                <th width="80" align="left">上班时间</th>
                <th width="80" align="left">下班时间</th>
@*              <th width="90" align="left">注册</th>
               <th width="100" align="left">QQ</th><th width="120" align="left">公司</th>
                <th width="90" align="left">状态</th>*@
			<th width="180" align="left">管理操作</th>
            </tr>
        </thead>
    <tbody>
        @if (Model.Count == 0) { 
        <tr>
            <td colspan="12">没有任何数据</td>
        </tr>
        }
        @foreach(var item in Model){
    <tr><td align="left">@(item.ID)</td>
					<td align='left'>@(item.Number)</td>
					<td align="left" >@(item.Names)</td>
        <td align="left">@(item.Sex==1?"女":item.Sex==2?"男":"")</td>
        <td  align="left">@(item.Phone)</td>
        <td  align="left">@(item.EMail)</td>
        <td  align="left">@(item.QQ)</td>
        <td  align="left">@(item.Address)</td>
        <td  align="left">@(item.CompanyName)</td>
        <td  align="left">@(item.isFinal?item.StartTime.ToString("HH:mm"):"")</td>
        
        <td  align="left">@(item.isFinal?item.EndTime.ToString("HH:mm"):"")</td>
@*        <td  align="left">@(item.CreateTime.ToString("yyyy-MM-dd"))</td> 
        <td align="left">@(item.QQ)</td>
        <td>@(item.CompanyName)</td>
        <td align="left">@(Bus.Web.Controllers.AdminController.GetStatesName(item.StateID))</td>*@
					<td align='left' ><a href="Users?ID=@(item.ID)">查看</a> | <a href="javascript:DelData('deluser','@(item.ID)')">删除</a></td>
				</tr>                    
        }
        
   
    </tbody>
    </table>  

@*    <div class="btn"> 
       
    </div>*@
@*    <div id="pages">
         @Html.Pager(Model,new PagerOptions{PageIndexParameterName="page", CurrentPagerItemWrapperFormatString = "<span class=\"curpage\">{0}</span>", NumericPagerItemWrapperFormatString = "<span class=\"item\">{0}</span>", CssClass = "pages", AutoHide=false, SeparatorHtml = ""})
    </div>*@
</div>
</div>


