@{
    ViewBag.Title = "Users";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

@model Bus.Data.Users
@section HeadScript{
<script language="javascript" type="text/javascript" src="/Content/admin/js/formvalidator.js" charset="UTF-8"></script>
<script language="javascript" type="text/javascript" src="/Content/admin/js/formvalidatorregex.js" charset="UTF-8"></script>
<script type="text/javascript" src="/Content/layer/layer.min.js?v=1.6.0"></script>
 
 
<script type="text/javascript">
    function doSubmit() {
        $.ajax({
            type: "POST",
            dataType: "json",
            url: '@(TheCMS.Common.iRequest.GetUrl())',
            data: $('#myform').serialize(),// 你的formid
            async: false,
            error: function (request) {
                alert("Connection error");
            },
            success: function (data) {
                if (data.success) {
                    window.location.href = "userslist";
                }
                else {
                    alert("系统异常，操作不成功。");
                }
            }
        });
    }
</script>
}
<style type="text/css">
    html {
        _overflow-y: scroll;
    }
    th{
        background-color:#EEF5DE;
        border-right-color: #E2E3E3;
    }
</style>

<div style="height:30px;border-bottom:">
    <div style="float:left;padding:5px 0 0 5px;">[会员基本信息]</div>
    <div class="content-menu ib-a blue" style="padding-right:10px; float:right;">
        <a href='javascript:;;' class="on"><em>保存</em></a><span></span>
        <a href='javascript:;;' class="on"><em>取消</em></a>
    </div>
</div>


    <form name="myform" id="myform" action="@(Request.Url)" method="post">
<div class="common-form">
        
        <table width="100%" class="table_form contentWrap">
            <tbody>
                <tr>
                    <th style="width:60px;">姓名：</th>
                    <td>
                        <input type="text" name="Names" style="width:100px;" value ="@(Model != null ? Model.Names : "")" id="Names" class="input-text" />
                    </td>
                    <th style="width:60px;">电话：</th>
                    <td> 
                        <input type="text" name="Phone" style="width:120px;" value="@(Model != null ? Model.Phone : "")" id="Phone" class="input-text" />
                    </td>
                </tr>

                <tr>
                    <th>上班时间：</th>
                    <td>
                        @{var startTime = Model.StartTime.ToString("HH:mm");}
                        <select id="StartTime">
                            <option value="07:00" @((Model.ID > 0 && startTime == "07:00") ?" selected":"")>7:00</option>
                            <option value="07:30" @((Model.ID > 0 && startTime == "07:30")?" selected":"")>7:30</option>
                            <option value="08:00" @((Model.ID > 0 && startTime == "08:00")?" selected":"")>8:00</option>
                            <option value="08:30" @((Model.ID > 0 && startTime == "08:30")?" selected":"")>8:30</option>
                            <option value="09:00" @((Model.ID > 0 && startTime == "09:00")?" selected":"")>9:00</option>
                            <option value="09:30" @((Model.ID > 0 && startTime == "09:30")?" selected":"")>9:30</option>
                        </select>
                    </td>
                    <th>下班时间：</th>
                    <td>
                        @{var endTime = Model.EndTime.ToString("HH:mm");}
                        <select id="EndTime">
                            <option value="16:00" @((Model.ID > 0 && startTime =="16:00")?" selected":"")>16:00</option>
                            <option value="16:30" @((Model.ID > 0 && startTime =="16:30")?" selected":"")>16:30</option>
                            <option value="17:00" @((Model.ID > 0 && startTime =="17:00")?" selected":"")>17:00</option>
                            <option value="17:30" @((Model.ID > 0 && startTime =="17:30")?" selected":"")>17:30</option>
                            <option value="18:00" @((Model.ID > 0 && startTime =="18:00")?" selected":"")>18:00</option>
                            <option value="18:30" @((Model.ID > 0 && startTime =="18:30")?" selected":"")>18:30</option>
                            <option value="19:00" @((Model.ID > 0 && startTime =="19:00")?" selected":"")>19:00</option>
                            <option value="19:30" @((Model.ID > 0 && startTime =="19:30")?" selected":"")>19:30</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <th>公司：</th>
                    <td colspan="3"><input type="text" style="width:300px;" name="CompanyName" value="@(Model != null ? Model.CompanyName : "")" id="CompanyName" class="input-text" /></td>
                </tr>
                <tr>
                    <th>居住地：</th>
                    <td colspan="3">
                        <input type="text" name="Address" style="width:300px;" value="@(Model != null ? Model.Address : "")" id="Address" class="input-text" />
                    </td>
                </tr>
                <tr>
                    <th>工作地：</th>
                    <td colspan="3"> 
                        <input type="text" name="EndAddress" style="width:300px;" value="@(Model != null ? Model.EndAddress : "")" id="EndAddress" class="input-text" />
                    </td>
                </tr>

                <tr>
                     <th>QQ：</th>
                    <td><input type="text" name="QQ" style="width:100px;" value="@(Model != null ? Model.QQ : "")" id="QQ" class="input-text" /></td>
                    <th>邮箱：</th>
                    <td><input type="text" name="EMail" style="width:120px;"  value="@(Model != null ? Model.EMail : "")" id="EMail" class="input-text" /></td>
                </tr>

                <tr>
                    <th>用户状态</th>
                    <td colspan="3">
                        @{var allstate = Bus.Data.UserStateDB.UserStateList();}
                        <select id="StateID" name="StateID">
                            <option value="0" @(Model!=null&&Model.StateID==0?" selected":"")>请选择</option>
                            @foreach (var item in allstate)
                            {
                                <option value="@(item.ID)" @(Model!=null&&Model.StateID==item.ID?" selected":"")>@(item.StateName)</option>
                            }
                        </select>
                    </td>
                </tr>
            </tbody>
        </table>
        <!--table_form_off-->

</div>
<div class="bk15"></div>
<div class="btn">
    <input type="button" id="dosubmit" onclick="doSubmit()" class="button" name="dosubmit" value="提交" /></div>
    </form>