@{
    ViewBag.Title = "公交查询";
    Layout = "~/Views/Shared/_L.cshtml";
}
@model List<Bus.Web.Controllers.LineInfo>
@{
    var umodel = Bus.Core.Common.GetCurrentUsers();  
  }
<!--组件依赖css begin TAB-->

<link rel="stylesheet" type="text/css" href="/Content/Temp/skincss/tabs.default.css" />
<!--组件依赖css end TAB-->
<style>
	.sectionline {padding:1em 3px;}
	.sectionline h2 {font-size: 16px;font-weight: bold;padding: 5px 5px;color: #5b5b5b;}
</style>
<style type="text/css">
p { line-height: 2em; }
</style>
<div class="gridContainer clearfix">
  <div id="LayoutDiv1">
		
        <div class="sectionline">
    <div id="container">
        <div id="tabs1">
           <ul class="ui-tabs-nav">
                <li class="tabs_1 @(Html.Raw(TheCMS.Common.iRequest.GetQueryInt("TID",1)==1?" ui-state-active":""))"><a href="/Home/GetBusLine?TID=1" >已开通</a></li>
                @*<li>sdfsdf</li><li>sdfsdf</li>*@
                <li class="tabs_2 @(Html.Raw(TheCMS.Common.iRequest.GetQueryInt("TID",1)==2?" ui-state-active":""))"><a href="/Home/GetBusLine?TID=2">筹备中</a></li>
            </ul>
            <div id="conten1">
                @foreach(var item in Model){
            	<div class="linelist_r1">
                	<ul class="clearfix">
                    	<li><span>【线路名称】</span>@(item.LineName)</li>
                        <li><span> 【居住地点】</span>@(item.SAddress)，@(item.STime.ToString("HH:mm"))</li>
                        <li><span> 【工作地点】</span>@(item.EAddress)，@(item.ETime.ToString("HH:mm"))</li>
                        <li><span>【线路票价】</span>@(item.Price.ToString("0.00"))元/月</li>
                        <li><span>【预约人数】</span>有65/65人预约</li>             	
                        <div class="make"><a href="/Home/BusLineInfo?id=@(item.LineID)">现在预约</a></div>
                        <div class="detailed"><a href="/Home/LineInfo?id=@(item.LineID)">查看详细</a></div>
                    </ul>
                </div>
				}                  
            </div>
            @*<div id="conten2">content2</div>*@
@*            <div id="conten3">content3</div>
            <div id="conten4">content4</div>*@
        </div>
    </div>
</div>
<script>
    window.scrollTo(0, 1);//收起地址栏
    $('#tabs1').tabs({
        ajax: {
            type: 'POST',
            contentType: 'application/x-www-form-urlencoded'
        },
        beforeLoad: function (e, xhr, settings) {
            var ui = this;
            settings.data = $.param({
                index: ui._options['active']
            });
        }
    });
</script>
        
<br><br><br>
  </div>
</div>