@{
    ViewBag.Title = "用户基本资料";
    Layout = "~/Views/Shared/_L.cshtml";
}
@model Bus.Data.Users

<div class="gridContainer clearfix">
  <div id="LayoutDiv1">
  <section id="basic">
  	<h4>请完善您的个人信息</h4>	
    <ul>
    	<li>居住地点：
            @if(Model.isFinal){
                @Model.Address @:&nbsp; &nbsp;<a href="EditMap?id=@(Model.ID)">修改地图位置</a>
            }
    	</li>
        <li>上班时间：
            @if (Model.isFinal)
            {
                @Model.StartTime.ToString("HH:mm")
            }
        </li>
        <li>公司/楼号：
                        @if (Model.isFinal)
            {
                @Model.EndAddress @:&nbsp; &nbsp;<a href="EditMap2?id=@(Model.ID)">修改地图位置</a>
            }
        </li>
        <li>下班时间：
             @if (Model.isFinal)
            {
                @Model.EndTime.ToString("HH:mm")
            }
        </li>
        @*<li>Q  Q:@(Model.QQ)</li>*@
    </ul>
@*    <div class="copyright">所属公司：@(Model.CompanyName)</div>
    <div class="edit"><a href="editmyinfo">修改</a></div>*@
  </section>
  </div>
</div>

@*
<script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=4120616832068ff1d7ce43fc3d4fee6f"></script>



<style type="text/css">
body, html,#allmap {width: 100%;height: 100%;margin:0;font-size:12px;}#allmap2 {width: 100%;height: 100%;overflow: hidden;margin:0;}
    td {
    font-size:12px;}
</style>
<form id="myform">
<table cellpadding="0" cellspacing="0" id="formTable" style="margin-top:50px;">

        <tr>            
            <td class="txt">
                居住地点：
            </td>
        <td class="box">
            @if(Model.isFinal){
                @Model.Address @:&nbsp; &nbsp;<a href="EditMap?id=@(Model.ID)">修改地图位置</a>
            }
            else
            {
            <input type="text" class="txtbox" id="Address" name="Address" value="@(Model.ID > 0 ? Model.Address : "")" />
            }
        </td>
    </tr>
    <tr style="display:none;">
            <td class="txt"></td>
        <td class="box">
            @if (Model.isFinal)
            {
                @:<a href="EditMap?id=@(Model.ID)">修改地图位置</a>
            }
            else{
            <input type="button" id="local1" onclick="showStartLocal()" style="line-height:30px; text-align:center; color:#ff6600; padding:3px; font-size:14px; background:#98e273; border:none;" value="在地图选择你上班位置" />
<div style="display:none;">
                <input type="text" id="StartLong" name="StartLong" value="@(Model.ID > 0 ? Model.StartLong.ToString() : "")" />
            <input type="text" id="StartLat" name="StartLat" value="@(Model.ID > 0 ? Model.StartLat.ToString() : "")" />
    
</div>}
        </td>
    </tr>
    @if(!Model.isFinal){
    <tr  id="tr1" style="display:;">
        <td colspan="2" style="height:500px;width:100%;">
<div id="allmap"></div>

        </td>
    </tr>
    }
        <tr><td class="txt">上班时间：</td>
        <td class="box">
            @if (Model.isFinal)
            {
                @Model.StartTime.ToString("HH:mm")
            }else{
                        <select id="StartTime1" name="StartTime1" style="height:25px;">
                            <option value="0">请选择</option>
                                 <option value="7" @((Model.ID > 0 && Model.StartTime.Hour == 7) ? " selected" : "")>7时</option>
                                 <option value="8" @((Model.ID > 0 && Model.StartTime.Hour == 8) ? " selected" : "")>8时</option>
                                 <option value="9" @((Model.ID > 0 && Model.StartTime.Hour == 9) ? " selected" : "")>9时</option>
                        </select>
                        <select id="StartTime2" name="StartTime2" style="height:25px;">
                            <option value="0">请选择</option>
                            @for (var i = 0; i < 2; i++)
                            {
                             <option value="@(i * 30)" @(Model.ID > 0 && Model.StartTime.Minute == (i * 30) ? " selected" : "")>@((i * 30).ToString().PadLeft(2, '0'))分</option> 
                            }
                        </select>

            }
        </td>
    </tr>
        <tr><td class="txt">公司/楼号：</td>
        <td class="box">
            @if (Model.isFinal)
            {
                @Model.EndAddress @:&nbsp; &nbsp;<a href="EditMap2?id=@(Model.ID)">修改地图位置</a>
            }else{
            <input type="text" class="txtbox"  id="EndAddress" name="EndAddress" value="@(Model.ID > 0 ? Model.EndAddress : "")" />
            }
        </td>
    </tr>
 <tr style="display:none;">
<td class="txt"></td>
        <td class="box"><input type="button" id="local2" onclick="showEndLocal()" value="在地图选择你下班乘车位置" style="line-height:30px; text-align:center; color:#ff6600; padding:3px; font-size:14px; background:#98e273; border:none;"  />
            <div style="display:none;">
            <input type="text" id="EndLong" name="EndLong" value="@(Model.ID > 0 ? Model.EndLong.ToString() : "")" />
            <input type="text" id="EndLat" name="EndLat" value="@(Model.ID > 0 ? Model.EndLat.ToString() : "")" />
            </div>
        </td>
    </tr>
<tr  id="tr2" style="display:none;">
        <td colspan="2" style="height:500px;width:100%;">
<div id="allmap2"></div>

        </td>
    </tr>
        <tr><td class="txt">下班时间：</td>
        <td class="box"> 
             @if (Model.isFinal)
            {
                @Model.EndTime.ToString("HH:mm")
            }else{           
            <select id="EndTime1" name="EndTime1" style="height:25px;">
                            <option value="0">请选择</option>
                            @for (var i = 16; i < 20; i++)
                            {
                             <option value="@(i)" @((Model.ID > 0 && Model.EndTime.Hour == i) ? " selected" : "")>@(i.ToString().PadLeft(2, '0'))时</option> 
                            }
                        </select>
                        <select id="EndTime2" name="EndTime2" style="height:25px;">
                            <option value="0">请选择</option>
                            @for (var i = 0; i < 2; i++)
                            {
                             <option value="@(i * 30)" @(Model.ID > 0 && Model.EndTime.Minute == (i * 30) ? " selected" : "")>@((i * 30).ToString().PadLeft(2, '0'))分</option> 
                            }
                        </select>
            }
        </td>
    </tr>
@*    <tr>
        <td class="txt"></td>
        <td>
            <p style="width:90%;font-size:12px;">
            我们的网站提供两种服务：一是根据经验设计路线，由您来选择相似路线报名；二是只需要登记您的个人基本信息和需乘车的地址/时间，由系统来判断某一小区相似需求人数达到最低开线路人数时，系统提示客运公司，直接联络您，确认后开设新线路。——所以如果您没有找到符合自己条件的车次，那么您填写完相关信息，就可以等待我们的通知了。我们的网站提供两种服务：一是根据经验设计路线，由您来选择相似路线报名；二是只需要登记您的个人基本信息和需乘车的地址/时间，由系统来判断某一小区相似需求人数达到最低开线路人数时，系统提示客运公司，直接联络您，确认后开设新线路。——所以如果您没有找到符合自己条件的车次，那么您填写完相关信息，就可以等待我们的通知了。
</p>
        </td>
    </tr>
        <tr><td class="txt"></td>
        <td class="box"> 
            <input type="hidden" value="@(Model.ID > 0 ? Model.ID.ToString() : "")" name="hidUserID" />
            @if (Model.isFinal)
            {
                <input type="button" class="saveBtn" onclick="javascript:window.location.href='editmyprofile';" value="修改" />
            }
            else
            {
                <input type="button" class="saveBtn" onclick="doSubmit()" value="保存" />
            }
        </td>
    </tr>
</table>
</form>
<script type="text/javascript">
    function doSubmit() {
        $.ajax({
            type: "POST",
            dataType: "json",
            url: '@(TheCMS.Common.iRequest.GetUrl())',
            data: $('#myform').serialize(),// 你的formid
            async: false,
            error: function (request) {
                alert("Connection error");
            },
            success: function (data) {
                if (data.success) {
                    successmsg();
                }
                else {
                    alert("系统异常，完善乘车不成功。");
                }
            }
        });
    }
</script>
<script type="text/javascript">
    function showStartLocal() {
        $("#tr1").show();
    }
    function showEndLocal() {
        $("#tr2").show();
    }
    var marker;
    window.marker = marker;
    function initMap() {
        createMap();//创建地图
        setMapEvent();//设置地图事件
        addMapControl();//向地图添加控件

    }
    function createMap() {
        var map = new BMap.Map("allmap");//在百度地图容器中创建一个地图
        var point = new BMap.Point(121.593478, 38.94871);//定义一个中心点坐标
        map.centerAndZoom(point, 12);//设定地图的中心点和坐标并将地图显示在地图容器中
        window.map = map;//将map变量存储在全局
                 @if (Model != null && (Model.StartLat > 0 && Model.StartLong > 0))
                 {
                       @:var point = new BMap.Point(@(Model.StartLong.ToString()), @(Model.StartLat.ToString()));
                                    @:marker = new BMap.Marker(point);  // 创建标注
                                    @:map.addOverlay(marker);              // 将标注添加到地图中   
         }

        map.addEventListener("click", function (e) {

            map.removeOverlay(marker);
            var point = new BMap.Point(e.point.lng, e.point.lat);
            marker = new BMap.Marker(point);
            map.addOverlay(marker);
            $("#StartLong").val(e.point.lng);
            $("#StartLat").val(e.point.lat);
            layer.confirm('是否确认您选取的位置？', function (index) {
                layer.close(index); $("#tr1").hide();
            }, '提示信息');
            //layer.msg('坐标已选取，可以关闭本窗口。', 1, 1);

        });

    }
    //地图事件设置函数：
    function setMapEvent() {
        map.enableDragging();
        map.enableScrollWheelZoom();//启用地图滚轮放大缩小
        map.enableDoubleClickZoom();//启用鼠标双击放大，默认启用(可不写)
        map.enableKeyboard();//启用键盘上下左右键移动地图
    }

    //地图控件添加函数：
    function addMapControl() {
        //向地图中添加缩放控件
        var ctrl_nav = new BMap.NavigationControl({ anchor: BMAP_ANCHOR_TOP_LEFT, type: BMAP_NAVIGATION_CONTROL_LARGE });
        map.addControl(ctrl_nav);
        //向地图中添加缩略图控件
        var ctrl_ove = new BMap.OverviewMapControl({ anchor: BMAP_ANCHOR_BOTTOM_RIGHT, isOpen: 1 });
        map.addControl(ctrl_ove);
        //向地图中添加比例尺控件
        var ctrl_sca = new BMap.ScaleControl({ anchor: BMAP_ANCHOR_BOTTOM_LEFT });
        map.addControl(ctrl_sca);
    }


    //initMap();//创建和初始化地图
    window.onload = initMap();


</script>

<script type="text/javascript">
 
    var marker2;
    window.marker2 = marker2;
    function initMap2() {
        createMap2();//创建地图
        setMapEvent2();//设置地图事件
        addMapControl2();//向地图添加控件

    }
    function createMap2() {
        var map2 = new BMap.Map("allmap2");//在百度地图容器中创建一个地图
        var point2 = new BMap.Point(121.593478, 38.94871);//定义一个中心点坐标
        map2.centerAndZoom(point2, 12);//设定地图的中心点和坐标并将地图显示在地图容器中
        window.map2 = map2;//将map变量存储在全局
                 @if (Model != null && (Model.EndLat > 0 && Model.EndLong > 0))
                 {
                       @:var point2 = new BMap.Point(@(Model.EndLong.ToString()), @(Model.EndLat.ToString()));
                                                    @:marker2 = new BMap.Marker(point2);  // 创建标注
                                                    @:map2.addOverlay(marker2);              // 将标注添加到地图中   
         }

        map2.addEventListener("click", function (e) {

            map.removeOverlay(marker2);
            var point11 = new BMap.Point(e.point.lng, e.point.lat);
            marker2 = new BMap.Marker(point11);
            map.addOverlay(marker2);
            $("#StartLong").val(e.point.lng);
            $("#StartLat").val(e.point.lat);
            layer.confirm('是否确认您选取的位置？', function (index) {
                layer.close(index); $("#tr2").hide();
            }, '提示信息');
            //layer.msg('坐标已选取，可以关闭本窗口。', 1, 1);

        });

    }
    //地图事件设置函数：
    function setMapEvent2() {
        map2.enableDragging();
        map2.enableScrollWheelZoom();//启用地图滚轮放大缩小
        map2.enableDoubleClickZoom();//启用鼠标双击放大，默认启用(可不写)
        map2.enableKeyboard();//启用键盘上下左右键移动地图
    }

    //地图控件添加函数：
    function addMapControl2() {
        //向地图中添加缩放控件
        var ctrl_nav = new BMap.NavigationControl({ anchor: BMAP_ANCHOR_TOP_LEFT, type: BMAP_NAVIGATION_CONTROL_LARGE });
        map2.addControl(ctrl_nav);
        //向地图中添加缩略图控件
        var ctrl_ove = new BMap.OverviewMapControl({ anchor: BMAP_ANCHOR_BOTTOM_RIGHT, isOpen: 1 });
        map2.addControl(ctrl_ove);
        //向地图中添加比例尺控件
        var ctrl_sca = new BMap.ScaleControl({ anchor: BMAP_ANCHOR_BOTTOM_LEFT });
        map2.addControl(ctrl_sca);
    }


    //initMap();//创建和初始化地图
    window.onload = initMap2();


</script>

*@